<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <h3>Calificaciones</h3>
        </v-flex>

        <span v-if="flag_supervisor">
          <v-flex class="izquierda">
            <v-select
              autocomplete
              label="Especialista"
              item-text="nombre_completo"
              item-value="id_usuario"
              placeholder="Seleccione un especialista"
              :items="especialistas"
              v-model="especialista_seleccionado"
              @change="listarReclamosxEsp()"
              name="especialista"
            ></v-select>
          </v-flex> 
        </span>

        <!-- TABLA -->
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.reclamos"
                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                class="elevation-1"
                item-key="id_reclamo"
              >
                <template v-slot:no-data>
                  <v-alert :value="true" color="blue lighten-1" icon="info">
                    No hay datos disponibles
                  </v-alert>
                </template>
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.id_reclamo }}</td>
                  <td>{{ props.item.num_suministro }}</td>
                  <td>{{ props.item.fecha_registro_str }}</td>
                  <td>{{ props.item.fecha_respuesta_str }}</td>
                  <td>
                    <star-rating :star-size="20" :read-only="true" v-model="props.item.calificacion_1"></star-rating>
                  </td>
                  <td>
                    <star-rating :star-size="20" :read-only="true" v-model="props.item.calificacion_2"></star-rating>
                  </td>
                  <td>
                    <star-rating :star-size="20" :read-only="true" v-model="props.item.calificacion_3"></star-rating>
                  </td>
                  <td>
                    <v-btn icon @click="verCalificacion(props.item.id_reclamo)" fab dark color="blue" small>
                      <v-icon>info</v-icon>
                    </v-btn>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>

        <!--FORM CALIFICAR -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formDetalle" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Reclamo N° {{detalles.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img :src="detalles.foto"/>
                              </v-avatar>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Número de suministro:</b> {{detalles.num_suministro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Especialista:</b> {{detalles.especialista}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Fecha de registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Fecha de atención:</b> {{detalles.fecha_atencion}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs6 lg6 >
                              <v-label  class="derecha"><b>Trato recibido:</b></v-label>
                            </v-flex>
                            <v-flex xs6 lg6 >
                              <star-rating :star-size="20" :read-only="true" v-model="detalles.calificacion1"></star-rating>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs6 lg6 >
                              <v-label class="derecha"><b>Calidad de información:</b></v-label>
                            </v-flex>
                            <v-flex xs6 lg6 >
                              <star-rating :star-size="20" :read-only="true" v-model="detalles.calificacion2"></star-rating>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs6 lg6 >
                              <v-label class="derecha"><b>Resolvió el problema:</b></v-label>
                            </v-flex>
                            <v-flex xs6 lg6 >
                              <star-rating :star-size="20" :read-only="true" v-model="detalles.calificacion3"></star-rating>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="cerrarCalificacion()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex> 
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios';
import StarRating from 'vue-star-rating'

import api from "../../conection";
export default {
  components: {
    StarRating
  },
  data() {
    return {
      search: '',
      complex: {
        selected: [],
        headers: [
          {
            text: "N°",
            value: "id_reclamo"
          },
          {
            text: "N° suministro",
            value: "num_suministro"
          },
          {
            text: "Fecha registro",
            value: "fecha_registro_str"
          },
          {
            text: "Fecha atención",
            value: "fecha_respuesta_str"
          },
          {
            text: "Trato recibido",
            value: "calificacion_1"
          },
          {
            text: "Calidad de información",
            value: "calificacion_2"
          },
          {
            text: "Resolvió el problema",
            value: "calificacion_3"
          },
          {
            text: "Acciones",
            value: ""
          }
        ],
        reclamos: [],
        errors: []
      },
      forms:{
        formDetalle: false,
      },
      detalles:{
        id: null,
        ciudadano: null,
        especialista: null,
        foto: null,
        correo: null,
        telefono: null,
        num_suministro: null,
        fecha_registro: null,
        fecha_atencion: null,
        estado: null,
        texto: null,
        respuesta: null,
        comentario: null,
        calificacion1: null,
        calificacion2: null,
        calificacion3: null,
      },
      idReclamo: null,
      idEspecialista: null,
      especialistas:[],
      es_admin: false,
      especialista_seleccionado: null,
      flag_supervisor: false,
    }
  },

  

  methods: {
    esSupervisor(){
      if(this.$store.state.token.rol.id_rol==4){
        this.listarEspecialistas();
        this.flag_supervisor = true;
        this.especialista_seleccionado = this.$store.state.token.id_usuario;
      }
    },
    listarReclamosxEsp(){
      
      var cadena = '/reclamo/calificados/' + this.especialista_seleccionado;
      
      api.get(cadena)
          .then(response => {
            this.complex.reclamos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarTodosReclamos(){
      this.idEspecialista = null;
      var cadena = '/reclamo/calificados';
      api.get(cadena)
          .then(response => {
            this.complex.reclamos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
      
    },
    listarEspecialistas(){
      var cadena = '/usuario/combo';
      api.get(cadena)
          .then(response => {
            this.especialistas = response.data
            for( var i = 0; i < this.especialistas.length; i++ ){
              var nombre_completo = this.especialistas[i].nombre + " " + this.especialistas[i].apellido_pat + " " + this.especialistas[i].apellido_mat;
              //console.log(nombre_completo)
              this.especialistas[i].nombre_completo = nombre_completo;
            }
            //console.log(this.especialistas)
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarReclamos(){
      var cadena = '/reclamo/calificados/' + this.$store.state.token.id_usuario;
      
      api.get(cadena)
          .then(response => {
            this.complex.reclamos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarTodosReclamos(){
      this.idEspecialista = null;
      var cadena = '/reclamo/calificados';
      api.get(cadena)
          .then(response => {
            this.complex.reclamos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    verCalificacion: function (id_reclamo) {
        var reclamo = this.complex.reclamos.find(x=>x.id_reclamo==id_reclamo);
        this.detalles.id = id_reclamo;
        this.detalles.especialista = reclamo.especialista.nombre+" "+reclamo.especialista.apellido_pat+" "+reclamo.especialista.apellido_mat;
        this.detalles.foto = "/static/usuarios/"+reclamo.especialista.foto;
        this.detalles.correo = reclamo.ciudadano.correo;
        this.detalles.num_suministro = reclamo.num_suministro;
        this.detalles.telefono = reclamo.ciudadano.telefono;
        this.detalles.fecha_registro = reclamo.fecha_registro_str;
        this.detalles.fecha_atencion = reclamo.fecha_respuesta_str;
        this.detalles.estado = reclamo.estado;
        this.detalles.texto = reclamo.texto;
        this.detalles.respuesta = reclamo.respuesta;
        this.detalles.comentario = reclamo.comentario;
        this.detalles.calificacion1 = reclamo.calificacion_1;
        this.detalles.calificacion2 = reclamo.calificacion_2;
        this.detalles.calificacion3 = reclamo.calificacion_3;

        this.forms.formDetalle = true;
    },

    cerrarCalificacion: function () {
        this.detalles.id = null;
        this.detalles.especialista = null;
        this.detalles.foto = null;
        this.detalles.correo = null;
        this.detalles.telefono = null;
        this.detalles.fecha_registro = null;
        this.detalles.fecha_atencion = null;
        this.detalles.texto = null;
        this.detalles.respuesta = null;
        this.detalles.comentario = null;
        this.forms.formDetalle = false;
    },

    


  },
  mounted(){
    this.esSupervisor();
    this.listarReclamos();
  }
}
</script>

<style lang="scss">
  .centro {
    text-align: center
  }
  .izquierda {
    text-align: left
  }
  .derecha {
    text-align: right
  }

  .ul{
    list-style-image: url("../../../public/static/icon/document2.png");
  }
  
  .li{
    margin-left:25px;
  }

</style>