<template>
  <v-app id="inspire" class="app dashboard">
    <v-content>
      <div class="page-wrapper">
        <router-view></router-view>
      </div>
    </v-content>
  </v-app>
</template>

<script>

export default {
  components: {
  },

  data() {
  },
  methods: {
  },
  created() {}
}
</script>

<style scoped>
.page-wrapper {
  min-height: calc(100vh - 64px - 50px - 81px);
}
</style>
