<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>

        <v-flex lg12>
          <h3>Hola {{this.$store.state.token.nombre}}, bienvenido a SARSE</h3>
        </v-flex>
        <v-flex xs12 >
            <img src="/static/home_image.jpg"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios';

import Vue from 'vue';

export default {
  data: () => ({

  }),

  methods:{
  },
  mounted(){
  }
}
</script>

<style lang="scss">
</style>