<template>
  <div id="page-forms">
    <v-container row wrap>
      <v-layout>
            <v-flex lg8 offset-lg2>
              <h2 align='center'>
                Registrar Reclamo
              </h2>
              
        <v-stepper v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Redacte su reclamo</v-stepper-step>
      
            <v-divider></v-divider>
      
            <v-stepper-step step="2">Adjunte evidencias</v-stepper-step>
          </v-stepper-header>
      
          <v-stepper-items>
            <v-form data-vv-scope="validarRegistrarReclamo">
            <v-stepper-content step="1">
              <v-card>
                <v-flex lg10 offset-lg1>
                  <h3>
                    Redacte su reclamo
                  </h3>
                </v-flex> 
                <v-flex lg10 offset-lg1>
                  <v-select
                    autocomplete
                    label="Suministrador"
                    item-text="nombre"
                    item-value="id_suministrador"
                    placeholder="Seleccione un suministrador"
                    :items="suministradores"
                    v-model="reclamo.suministradorRegistrar"

                    name="suministrador" 
                    data-vv-name="suministrador" 
                    v-validate="'required'"
                    :error-messages="errors.collect('validarRegistrarReclamo.suministrador')"
                  ></v-select>
                </v-flex>  
                <v-flex lg10 offset-lg1>
                  <v-text-field 
                    label="Número de suministro" 
                    name="num_suministro" 
                    v-model="reclamo.numSuministroRegistrar"

                    data-vv-name="num_suministro" 
                    v-validate="'required'"
                    :error-messages="errors.collect('validarRegistrarReclamo.num_suministro')"
                  ></v-text-field>
                </v-flex> 
                <v-flex lg10 offset-lg1>
                  <v-select
                    autocomplete
                    label="Departamento"
                    item-text="nombre"
                    item-value="id_departamento"
                    placeholder="Seleccione un departamento"
                    :items="departamentos"
                    v-model="reclamo.departamentoRegistrar"
                    @change="llenarProvincias()"

                    name="departamento" 
                    data-vv-name="departamento" 
                    v-validate="'required'"
                    :error-messages="errors.collect('validarRegistrarReclamo.departamento')"
                  ></v-select>
                </v-flex> 
                <v-flex lg10 offset-lg1>
                  <v-select
                    autocomplete
                    label="Provincia"
                    item-text="nombre"
                    item-value="id_provincia"
                    placeholder="Seleccione una provincia"
                    :items="provincias"
                    v-model="reclamo.provinciaRegistrar"
                    @change="llenarDistritos()"

                    :disabled="departamento_seleccionado"
                    name="provincia" 
                    data-vv-name="provincia" 
                    v-validate="'required'"
                    :error-messages="errors.collect('validarRegistrarReclamo.provincia')"
                  ></v-select>
                </v-flex> 
                <v-flex lg10 offset-lg1>
                  <v-select
                    autocomplete
                    label="Distrito"
                    item-text="nombre"
                    item-value="id_distrito"
                    placeholder="Seleccione un distrito"
                    :items="distritos"
                    v-model="reclamo.distritoRegistrar"

                    :disabled="provincia_seleccionada"
                    name="distrito" 
                    data-vv-name="distrito" 
                    v-validate="'required'"
                    :error-messages="errors.collect('validarRegistrarReclamo.distrito')"
                  ></v-select>
                </v-flex> 
                <v-flex lg10 offset-lg1>
                  <v-text-field 
                    label="Domicilio" 
                    name="Domicilio" 
                    v-model="reclamo.domicilioRegistrar"

                    data-vv-name="domicilio" 
                    v-validate="'required'"
                    :error-messages="errors.collect('validarRegistrarReclamo.domicilio')"
                  ></v-text-field>
                </v-flex> 
                <v-flex lg10 offset-lg1>
                  <v-text-field 
                    textarea 
                    label="Reclamo" 
                    v-model="reclamo.reclamoRegistrar"

                    data-vv-name="reclamo" 
                    v-validate="'required'"
                    :error-messages="errors.collect('validarRegistrarReclamo.reclamo')"
                  > </v-text-field>
                </v-flex> 
              </v-card>
      
              <v-btn
                color="primary"
                @click="siguiente()"
              >
                Siguiente
              </v-btn>
            </v-stepper-content>
      
            <v-stepper-content step="2">
              <v-card>
                <v-flex lg12>
                  <h3>
                    Adjunte las evidencias
                  </h3>
                </v-flex> 
                <v-flex lg12>
                    <form enctype="multipart/form-data">
                        <div class="dropbox">
                          <input type="file" ref="file" multiple="multiple" class="input-file" @change="verificarArchivos()">
                          <p v-if="subir">
                          Arrastre el archivo<br> o presione aquí para buscarlo
                          </p>
                          <ul class="ul" v-if="cargar">
                          <li class="li" v-bind:key="archivo.name" v-for="archivo in this.archivos">
                              {{ archivo.name }}
                          </li>
                          </ul>
                          <p class="espacio" v-if="cargar">    </p>
                          <p v-if="cargar">
                          Subiendo {{ this.$refs.file.files.length }} archivos...
                          </p>
                        </div>
                    </form>
                </v-flex>
              </v-card>
              <v-btn color="primary" @click.native="modalConfirmar.dialog = true">Registrar</v-btn>
              <v-btn @click="e1 = 1" >  Volver </v-btn>
              <v-btn  v-if="cargar" color="red" @click="limpiar()">Limpiar</v-btn>
              
                <v-dialog v-model='modalConfirmar.dialog' persistent max-width="450px" >
                    <v-card>
                      <v-card-title>
                        <span class="headline">Registrar reclamo</span>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <v-container grid-list-md>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <h5 align="center">¿Está seguro que quiere registrar el reclamo?</h5>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click.native="registrarReclamo()" >Sí</v-btn>
                        <v-btn @click.native="modalConfirmar.dialog = false">No</v-btn>
                      </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog v-model='modalRegistrado.dialog' persistent max-width="450px" >
                    <v-card>
                      <v-card-title>
                        <span class="headline">Reclamo registrado</span>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <v-container grid-list-md>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <h5 align="center">Su reclamo se registro correctamente con el número {{this.idReclamo}}</h5>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click.native="verReclamos()" >Ok</v-btn>
                      </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-stepper-content>
            </v-form>
          </v-stepper-items>
        </v-stepper>
            </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios';

import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, { inject: false });
import api from "../../conection";
import api2 from "../../conection2";



export default {
  $_veeValidate: {
    validator: 'new'
  }, 
  data: () => ({
    //step
    e1:1,
    
    error: [],
    subir: true,
    cargar: false,
    archivos: [],
    flag_vacio: true,
    departamento_seleccionado: true,
    provincia_seleccionada: true,

    //combo box
    
    suministradores: [],
    departamentos:[],
    provincias:[],
    distritos:[],
    idReclamo: 1,

    modalConfirmar:{
      dialog: false,
    },

    modalRegistrado:{
      dialog: false,
    },

    reclamo: {
      usuarioRegistrar: null,
      suministradorRegistrar: null,
      departamentoRegistrar: null,
      provinciaRegistrar: null,
      distritoRegistrar: null,
      domicilioRegistrar: null,
      reclamoRegistrar: null,
      evidenciaRegistrar: null,
      numSuministroRegistrar: null
    },
    dictionary: {
      custom: {
        suministrador: {
          required:  () => 'Seleccione un suministrador',
        },
        departamento: {
          required:  () => 'Seleccione un departamento',
        },
        provincia: {
          required:  () => 'Seleccione una provincia',
        },
        distrito: {
          required:  () => 'Seleccione un distrito',
        },
        num_suministro: {
          required:  () => 'Ingrese un número de suministro',
        },
        domicilio: {
          required:  () => 'Ingrese un domicilio',
        },
        reclamo: {
          required:  () => 'Ingrese un reclamo',
        }              
      }
    }

    
  }),

  methods:{

    registrarReclamo(){
      console.log(this.reclamo);
      console.log(this.$store.state.token.id_usuario);
      this.reclamo.usuarioRegistrar = this.$store.state.token.id_usuario;
      console.log(this.reclamo);
      var cadena = '/reclamo/registrar'
      api.post(cadena, this.reclamo)
      .then(response => {
        this.idReclamo = response.data;
        console.log(this.idReclamo);
        console.log(this.flag_vacio);
        this.subirArchivos();
        this.modalConfirmar.dialog = false;
        this.modalRegistrado.dialog = true;
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },

    verReclamos(){
        this.modalRegistrado.dialog = false;
        this.$router.push('/visualizar');
    },

    siguiente(){
      this.$validator.validateAll('validarRegistrarReclamo').then(
        result =>{          
          if(result){
            this.e1 = 2
          }
      })
    },

    limpiar(){
        this.archivos = [];
        this.flag_vacio = true;
        this.cargar = false;
        this.subir = true;
        console.log(this.$refs.file.files)
    },

    subirArchivos() {
        if(!this.flag_vacio){
            let cadena = '/evidencia/registrar/' +this.idReclamo; 

            for( var i = 0; i < this.$refs.file.files.length; i++ ){

                let formData = new FormData();
                let file = this.$refs.file.files[i];
                formData.append('file', file);
                api2.post( cadena, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                })
                .then(response => {
                console.log(this.idReclamo)
                })
                .catch(e => {
                this.error.push(e)
                })
            }
        }


    },
    verificarArchivos(){
        this.cargar = true;
        this.subir = false;
        this.flag_vacio = false;
        this.archivos = this.$refs.file.files;
        for( var i = 0; i < this.$refs.file.files.length; i++ ){
            let file = this.$refs.file.files[i];
            console.log(i)
            console.log(file)
        }
    },

    llenarNacionalidades(){
      var cadena = '/nacionalidad'
      api.get(cadena)
          .then(response => {
            this.nacionalidades = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarTiposDoc(){
      var cadena = '/tipodocumento'
      api.get(cadena)
          .then(response => {
            this.tiposDoc = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarSuministradores(){
      var cadena = '/suministrador'
      api.get(cadena)
          .then(response => {
            this.suministradores = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarDepartamentos(){
      var cadena = '/departamento'
      api.get(cadena)
          .then(response => {
            this.departamentos = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarProvincias(){
      var cadena = '/provincia/departamento/'+ this.reclamo.departamentoRegistrar
      api.get(cadena)
          .then(response => {
            this.provincias = response.data;
            this.departamento_seleccionado= false;
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarDistritos(){
      var cadena = '/distrito/provincia/'+ this.reclamo.provinciaRegistrar
      api.get(cadena)
          .then(response => {
            this.distritos = response.data;
            this.provincia_seleccionada= false;
          })
          .catch(e => {
            this.error.push(e)
          })
    },
  },
  mounted(){
    this.llenarDepartamentos();
    this.llenarNacionalidades();
    this.llenarTiposDoc();
    this.llenarSuministradores();
    this.$validator.localize("es", this.dictionary)
  }
}
</script>

<style lang="scss">
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }
  
  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .ul{
    list-style-image: url("../../../public/static/icon/document2.png");
    text-align:center;
    width:100%;
    height:20px;
  }
  
  .li{
    float:left;
    margin-right:25px;
    margin-top:10px;
    margin-left:25px;
  }
  
  .espacio{
    height:20px;
  }
  
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>