<template>
  <v-toolbar color="primary" fixed dark app>
    <v-toolbar-title>
      <v-toolbar-side-icon @click="handleDrawerToggle"></v-toolbar-side-icon>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-menu offset-y origin="center center" :nudge-bottom="10" transition="scale-transition">
        <v-btn icon large flat slot="activator">
          <v-avatar size="50px">
            <img :src="foto" alt="Michael Wang" />
          </v-avatar>
        </v-btn>
      </v-menu>
      <v-flex>
        <v-flex lg12 md12 xs12>
          <h5 class="nombre">{{this.$store.state.token.nombre}} {{this.$store.state.token.apellido_pat}} {{this.$store.state.token.apellido_mat}}</h5>
        </v-flex>
        <v-flex lg12 md12 xs12>
          <h5 class="rol">{{this.$store.state.token.rol.nombre}}</h5>
        </v-flex>
      </v-flex>
      <v-spacer></v-spacer>
      <v-btn icon @click="logout()">
        <v-icon color="red">logout</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>
<script>

import Util from "@/util"
export default {
  name: "AppToolbar",
  data() {
    return {
      foto: null
    }
  },
  computed: {
    toolbarColor() {
      return this.$vuetify.options.extra.mainNav
    }
  },
  methods: {
    handleDrawerToggle() {
      this.$emit("side-icon-click")
    },
    logout() {
      //handle logout
      this.$store.dispatch("logout");
      this.$router.push('/login')
    },
    setFoto(){
      this.foto = "/static/usuarios/"+this.$store.state.token.foto;
    }
  },
  mounted(){
    this.setFoto();
  }
}
</script>

<style lang="stylus" scoped></style>
<style lang="scss">
  .nombre {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .rol {
    padding-left: 10px;
    padding-right: 10px;
  }

</style>
