<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>

        <v-flex lg6>
          <h2>Gestión de Usuarios</h2>
        </v-flex>

        <!--TABLA DE USUARIOS -->
        <v-flex  class="derecha" lg6>
          <v-btn icon @click="forms.formAgregar = true" fab dark color="green" small>
            <v-icon>add</v-icon>
          </v-btn>
        </v-flex>
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.usuarios"
                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                class="elevation-1"
                item-key="id_usuario"
              >
                <template v-slot:no-data>
                  <v-alert :value="true" color="blue lighten-1" icon="info">
                    No hay datos disponibles
                  </v-alert>
                </template>
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.id_usuario }}</td>
                  <td>{{ props.item.rol.nombre }}</td>
                  <td>{{ props.item.nombre }} {{ props.item.apellido_pat }} {{ props.item.apellido_mat }}</td>
                  <td>{{ props.item.num_documento }}</td>
                  <td>{{ props.item.correo }}</td>
                  <td>{{ props.item.telefono }}</td>
                  <td class="td">
                    <v-btn icon @click="verDetalles(props.item.id_usuario)" fab dark color="blue" small>
                      <v-icon>info</v-icon>
                    </v-btn>
                    <v-btn   icon @click="verEditar(props.item.id_usuario)" fab dark color="orange" small>
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn   icon @click="verEliminar(props.item.id_usuario)" fab dark color="red" small>
                      <v-icon>delete</v-icon>
                    </v-btn>
                    <span v-if= "props.item.rol.id_rol == 1">
                      <v-btn   icon fab dark color="yellow" small>
                        <v-icon>assessment</v-icon>
                      </v-btn>
                    </span>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>




        <!--FORMULARIO AGREGAR -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formAgregar" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Agregar Usuario</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro"  data-vv-scope="validarAgregarUsuario">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img v-bind:src="datos.foto" v-on:click="openUploadAgregar()">
                              </v-avatar>
                              <form enctype="multipart/form-data">
                                <input 
                                  type="file" 
                                  id="file-field" 
                                  ref="fileAgregar" 
                                  class="input-file" 
                                  v-validate="'image'" 
                                  data-vv-name="foto" 
                                  :error-messages="errors.collect('validarEditarUsuario.foto')"
                                  @change="actualizarFoto">
                              </form>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Nombre"
                                id="nombreAgregar" 
                                name="nombre" 
                                v-model="datos.nombre"
                                data-vv-name="nombre" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.nombre')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Apellido Paterno" 
                                id="apellido_patAgregar" 
                                name="apellido_pat" 
                                v-model="datos.apellido_pat"
                                data-vv-name="apellido_pat" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.apellido_pat')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Apellido Materno" 
                                name="apellido_mat" 
                                id="apellido_matAgregar" 
                                v-model="datos.apellido_mat"
                                data-vv-name="apellido_mat" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.apellido_mat')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Tipo de documento"
                                id="tipo_documentoAgregar" 
                                item-text="nombre"
                                item-value="id_tipo_documento"
                                placeholder="Seleccione un tipo de documento"
                                :items="tipos_doc"
                                v-model="datos.tipo_doc"
                                name="tipo_doc" 
                                data-vv-name="tipo_doc" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.tipo_doc')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Número de documento" 
                                id="num_docAgregar" 
                                name="num_doc" 
                                v-model="datos.num_doc"
                                data-vv-name="num_doc" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.num_doc')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Rol"
                                id="rolAgregar" 
                                item-text="nombre"
                                item-value="id_rol"
                                placeholder="Seleccione un rol"
                                :items="roles"
                                v-model="datos.rol"
                                name="rol" 
                                data-vv-name="rol" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.rol')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-text-field 
                                label="Correo" 
                                id="correoAgregar" 
                                name="correo" 
                                v-model="datos.correo"
                                data-vv-name="correo" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.correo')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-text-field 
                                label="Teléfono" 
                                id="telefonoAgregar" 
                                name="telefono" 
                                v-model="datos.telefono"
                                data-vv-name="telefono" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.telefono')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Departamento"
                                id="departamentoAgregar"
                                item-text="nombre"
                                item-value="id_departamento"
                                placeholder="Seleccione un departamento"
                                :items="departamentos"
                                v-model="datos.departamento"
                                @change="llenarProvincias()"
                                name="departamento" 
                                data-vv-name="departamento" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.departamento')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Provincia"
                                item-text="nombre"
                                item-value="id_provincia"
                                placeholder="Seleccione una provincia"
                                :items="provincias"
                                v-model="datos.provincia"
                                @change="llenarDistritos()"
                                :disabled="departamento_seleccionado"
                                id="provinciaAgregar"
                                name="provincia" 
                                data-vv-name="provincia" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.provincia')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Distrito"
                                item-text="nombre"
                                item-value="id_distrito"
                                placeholder="Seleccione un distrito"
                                :items="distritos"
                                v-model="datos.distrito"
                                :disabled="provincia_seleccionada"
                                id="distritoAgregar"
                                name="distrito" 
                                data-vv-name="distrito" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarAgregarUsuario.distrito')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="confirmarAgregar()">Guardar</v-btn>
                    <v-btn @click.native="cerrarAgregar()">Cancelar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex> 



        <!-- MODAL CONFIRMACIÓN AGREGAR -->
        
        <v-dialog v-model='forms.modalAgregar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Registrar usuario</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que quiere registrar el usuario?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="registrarUsuario()" >Sí</v-btn>
                <v-btn @click.native="forms.modalAgregar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL USUARIO REGISTRADO -->
        
        <v-dialog v-model='forms.modalAgregarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Usuario Registrado</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">El usuario se registro correctamente con id: {{this.idUsuario}}</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalAgregarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>




        <!--FORMULARIO EDICIÓN -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formEditar" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Usuario N° {{datos.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro"  data-vv-scope="validarEditarUsuario">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img v-bind:src="datos.foto" v-on:click="openUploadEditar()">
                              </v-avatar>
                              <form enctype="multipart/form-data">
                                <input 
                                  type="file" 
                                  id="file-field-editar" 
                                  ref="fileEditar" 
                                  class="input-file" 
                                  v-validate="'image'" 
                                  data-vv-name="foto" 
                                  :error-messages="errors.collect('validarEditarUsuario.foto')"
                                  @change="actualizarFoto">
                                  
                              </form>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Nombre" 
                                name="nombre" 
                                v-model="datos.nombre"
                                data-vv-name="nombre" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.nombre')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Apellido Paterno" 
                                name="apellido_pat" 
                                v-model="datos.apellido_pat"
                                data-vv-name="apellido_pat" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.apellido_pat')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Apellido Materno" 
                                name="apellido_mat" 
                                v-model="datos.apellido_mat"
                                data-vv-name="apellido_mat" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.apellido_mat')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Tipo de documento"
                                item-text="nombre"
                                item-value="id_tipo_documento"
                                placeholder="Seleccione un tipo de documento"
                                :items="tipos_doc"
                                v-model="datos.tipo_doc"
                                name="tipo_doc" 
                                data-vv-name="tipo_doc" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.tipo_doc')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-text-field 
                                label="Número de documento" 
                                name="num_doc" 
                                v-model="datos.num_doc"
                                data-vv-name="num_doc" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.num_doc')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Tipo de documento"
                                item-text="nombre"
                                item-value="id_rol"
                                placeholder="Seleccione un rol"
                                :items="roles"
                                v-model="datos.rol"
                                name="rol" 
                                data-vv-name="rol" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.rol')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-text-field 
                                label="Correo" 
                                name="correo" 
                                v-model="datos.correo"
                                data-vv-name="correo" 
                                v-validate="'required|email'"
                                :error-messages="errors.collect('validarEditarUsuario.correo')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-text-field 
                                label="Teléfono" 
                                name="telefono" 
                                v-model="datos.telefono"
                                data-vv-name="telefono" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.telefono')"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Departamento"
                                item-text="nombre"
                                item-value="id_departamento"
                                placeholder="Seleccione un departamento"
                                :items="departamentos"
                                v-model="datos.departamento"
                                @change="llenarProvincias()"
                                name="departamento" 
                                data-vv-name="departamento" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.departamento')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Provincia"
                                item-text="nombre"
                                item-value="id_provincia"
                                placeholder="Seleccione una provincia"
                                :items="provincias"
                                v-model="datos.provincia"
                                @change="llenarDistritos()"
                                :disabled="departamento_seleccionado"
                                name="provincia" 
                                data-vv-name="provincia" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.provincia')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Distrito"
                                item-text="nombre"
                                item-value="id_distrito"
                                placeholder="Seleccione un distrito"
                                :items="distritos"
                                v-model="datos.distrito"
                                :disabled="provincia_seleccionada"
                                name="distrito" 
                                data-vv-name="distrito" 
                                v-validate="'required'"
                                :error-messages="errors.collect('validarEditarUsuario.distrito')"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="confirmarEditar()">Guardar</v-btn>
                    <v-btn @click.native="cerrarEditar()">Cancelar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex> 



        <!-- MODAL CONFIRMAR EDICIÓN -->
        
        <v-dialog v-model='forms.modalEditar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Modificar usuario</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que quiere modificar el usuario?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="modificarUsuario()" >Sí</v-btn>
                <v-btn @click.native="forms.modalEditar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL USUARIO EDITADO -->
        
        <v-dialog v-model='forms.modalEditarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Usuario Modificado</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">El usuario con id: {{this.idUsuario}} se modificó correctamente </h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalEditarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>






        <!-- MODAL ELIMINAR -->
        
        <v-dialog v-model='forms.modalEliminar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Eliminar Usuario</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que quiere eliminar el usuario?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="eliminarUsuario()" >Sí</v-btn>
                <v-btn @click.native="forms.modalEliminar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL USUARIO ELIMINADO -->
        
        <v-dialog v-model='forms.modalEliminarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Usuario Eliminado</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se elimino correctamente el usuario con id: {{this.idUsuario}}</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalEliminarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>



        <!--FORMULARIO DETALLE -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formDetalle" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Usuario N° {{datos.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img :src="datos.foto"/>
                              </v-avatar>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Nombre:</b> {{datos.nombre}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Apellido Paterno:</b> {{datos.apellido_pat}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Apellido Materno:</b> {{datos.apellido_mat}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>{{datos.tipo_doc}}:</b> {{datos.num_doc}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Rol:</b> {{datos.rol}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Correo:</b> {{datos.correo}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Teléfono:</b> {{datos.telefono}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Departamento:</b> {{datos.departamento}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Provincia:</b> {{datos.provincia}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Distrito:</b> {{datos.distrito}}</v-label>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="cerrarDetalle()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex> 




      </v-layout>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios';

import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, { inject: false });
import api from "../../conection";
import api2 from "../../conection2";

export default {
  $_veeValidate: {
    validator: 'new'
  }, 
  data() {
    return {
      search: '',
      complex: {
        selected: [],
        headers: [
          {
            text: "ID",
            value: "id_usuario"
          },
          {
            text: "Rol",
            value: "rol.id_rol"
          },
          {
            text: "Nombre completo",
            value: "nombre"
          },
          {
            text: "Núm. Documento",
            value: "num_documento"
          },
          {
            text: "Correo",
            value: "correo"
          },
          {
            text: "Teléfono",
            value: "telefono"
          },
          {
            text: "Acciones",
            value: ""
          }
        ],

        usuarios: [],
        error: []
      },

      tipos_doc: [],
      roles: [],
      departamentos: [],
      provincias: [],
      distritos: [],
      departamento_seleccionado: true,
      provincia_seleccionada: true,


      forms:{
        formDetalle: false,
        formAgregar: false,
        formEditar: false,
        modalEditar: false,
        modalAgregar: false,
        modalEliminar: false,
        modalEditarCorrecto: false,
        modalAgregarCorrecto: false,
        modalEliminarCorrecto: false,
      },
      datos:{
        id: null,
        nombre: null,
        apellido_pat: null,
        apellido_mat: null,
        tipo_doc: null,
        num_doc: null,
        rol: null,
        correo: null,
        telefono: null,
        departamento: null,
        provincia: null,
        distrito: null,
        foto: "/static/usuarios/default.png",
      },
      idUsuario: null,
      dictionary: {
        custom: {
          nombre: {
            required:  () => 'Ingrese un nombre',
          },
          apellido_pat: {
            required:  () => 'Ingrese un apellido paterno',
          },
          apellido_mat: {
            required:  () => 'Ingrese un apellido materno',
          },
          tipo_doc: {
            required:  () => 'Seleccione un tipo de documento',
          },
          num_doc: {
            required:  () => 'Ingrese un número de documento',
          },
          rol: {
            required:  () => 'Seleccione un rol',
          },
          correo: {
            required:  () => 'Ingrese un correo',
            email: () => 'Debe ingresar un correo válido',
          },
          telefono: {
            required:  () => 'Ingrese un teléfono',
          },
          departamento: {
            required:  () => 'Seleccione un departamento',
          },
          provincia: {
            required:  () => 'Seleccione una provincia',
          },
          distrito: {
            required:  () => 'Seleccione un distrito',
          },
          foto: {
            image:  () => 'Seleccione un archivo con formato de imagen por favor',
          }         
        }
      },
    }
  },

  methods:{
    listarUsuarios(){
      var cadena = '/usuario';
      api.get(cadena)
          .then(response => {
            this.complex.usuarios = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },


    //METODOS DEL FORM DETALLE
    verDetalles: function (id_usuario) {
      var usuario = this.complex.usuarios.find(x=>x.id_usuario==id_usuario)
      this.datos.id = id_usuario;
      this.datos.nombre = usuario.nombre;
      this.datos.apellido_pat = usuario.apellido_pat;
      this.datos.apellido_mat = usuario.apellido_mat;
      this.datos.tipo_doc = usuario.tipo_documento.nombre;
      this.datos.num_doc = usuario.num_documento;
      this.datos.rol = usuario.rol.nombre;
      this.datos.correo = usuario.correo;
      this.datos.telefono = usuario.telefono;
      this.datos.departamento = usuario.distrito.provincia.departamento.nombre;
      this.datos.provincia = usuario.distrito.provincia.nombre;
      this.datos.distrito = usuario.distrito.nombre;
      this.datos.foto = "/static/usuarios/"+usuario.foto;

      this.forms.formDetalle = true;
    },
    cerrarDetalle: function () {
      this.datos.id = null;
      this.datos.nombre = null;
      this.datos.apellido_pat = null;
      this.datos.apellido_mat = null;
      this.datos.tipo_doc = null;
      this.datos.num_doc = null;
      this.datos.rol = null;
      this.datos.correo = null;
      this.datos.telefono = null;
      this.datos.departamento = null;
      this.datos.provincia = null;
      this.datos.distrito = null;
      this.datos.foto = null;

      this.forms.formDetalle = false;
    },

    //METODOS DEL FORM EDITAR
    verEditar: function (id_usuario) {
      var usuario = this.complex.usuarios.find(x=>x.id_usuario==id_usuario)

      this.datos.id = id_usuario;
      this.datos.nombre = usuario.nombre;
      this.datos.apellido_pat = usuario.apellido_pat;
      this.datos.apellido_mat = usuario.apellido_mat;
      this.datos.tipo_doc = usuario.tipo_documento.id_tipo_documento;
      this.datos.num_doc = usuario.num_documento;
      this.datos.rol = usuario.rol.id_rol;
      this.datos.correo = usuario.correo;
      this.datos.telefono = usuario.telefono;
      this.datos.departamento = usuario.distrito.provincia.departamento.id_departamento;
      this.datos.provincia = usuario.distrito.provincia.id_provincia;
      this.datos.distrito = usuario.distrito.id_distrito;

      this.llenarProvincias();
      this.llenarDistritos();
      
      this.departamento_seleccionado= false;
      this.provincia_seleccionada= false;

      if(usuario.foto === null){
        this.datos.foto = "/static/usuarios/default.png";
      }else{
        this.datos.foto = "/static/usuarios/"+usuario.foto;
      }

      this.forms.formEditar = true;
    },
    cerrarEditar: function () {
      this.datos.id = null;
      this.datos.nombre = null;
      this.datos.apellido_pat = null;
      this.datos.apellido_mat = null;
      this.datos.tipo_doc = null;
      this.datos.num_doc = null;
      this.datos.rol = null;
      this.datos.correo = null;
      this.datos.telefono = null;
      this.datos.departamento = null;
      this.datos.provincia = null;
      this.datos.distrito = null;
      this.datos.foto = "/static/usuarios/default.png";
      this.provincias =[];
      this.distritos =[];

      this.departamento_seleccionado= true;
      this.provincia_seleccionada= true;
      this.forms.formEditar = false;
    },
    confirmarEditar: function () {
      this.$validator.validateAll('validarEditarUsuario').then(
        result =>{          
          if(result){
            this.forms.modalEditar = true;
          }
      })

      this.forms.formEditar = false;
    },
    modificarUsuario: function () {
      var cadena = '/usuario/editar'
      api.post(cadena, this.datos)
      .then(response => {
        this.idUsuario = response.data;
        this.subirFotoEditar(this.idUsuario);
        this.cerrarEditar();
        this.forms.modalEditar = false;
        this.departamento_seleccionado= true;
        this.provincia_seleccionada= true;
        this.forms.modalEditarCorrecto = true;
        this.listarUsuarios();
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },
    openUploadEditar() {
      document.getElementById('file-field-editar').click();
    },

    subirFotoEditar(id_usuario) {
      let cadena = '/usuario/subirImg/' + id_usuario; 

      let formData = new FormData();
      let file = this.$refs.fileEditar.files[0];
      formData.append('file', file);
      api2.post( cadena, formData)
      .then(response => {
        this.idUsuario = response.data
      })
      .catch(e => {
        this.error.push(e)
      })


    },



    //METODOS DEL MODAL ELIMINAR
    verEliminar: function (id_usuario) {
      this.idUsuario = id_usuario;
      this.forms.modalEliminar = true;
    },
    eliminarUsuario: function () {
      var cadena = '/usuario/eliminar/'+ this.idUsuario;
      api.post(cadena)
      .then(response => {
        this.idUsuario = response.data;
        this.forms.modalEliminar = false;
        this.forms.modalEliminarCorrecto = true;
        this.listarUsuarios();
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },



    //METODOS DE REGISTRAR
    
    confirmarAgregar: function () {
      this.$validator.validateAll('validarAgregarUsuario').then(
        result =>{          
          if(result){
            this.forms.modalAgregar = true;
          }
      })

      this.forms.formAgregar = false;
    },
    registrarUsuario: function () {
      var cadena = '/usuario/registrar'
      api.post(cadena, this.datos)
      .then(response => {
        this.idUsuario = response.data;
        this.subirFotoAgregar(this.idUsuario);
        this.cerrarAgregar();
        this.forms.modalAgregar = false;
        this.forms.modalAgregarCorrecto = true;
        this.listarUsuarios();
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },
    subirFotoAgregar(id_usuario) {
      let cadena = '/usuario/subirImg/' + id_usuario; 

      let formData = new FormData();
      let file = this.$refs.fileAgregar.files[0];
      formData.append('file', file);
      api2.post( cadena, formData)
      .then(response => {
        this.idUsuario = response.data
      })
      .catch(e => {
        this.error.push(e)
      })
    },
    openUploadAgregar() {
      document.getElementById('file-field').click();
    },
    cerrarAgregar: function () {
      this.datos.id = null;
      this.datos.nombre = null;
      this.datos.apellido_pat = null;
      this.datos.apellido_mat = null;
      this.datos.tipo_doc = null;
      this.datos.num_doc = null;
      this.datos.rol = null;
      this.datos.correo = null;
      this.datos.telefono = null;
      this.datos.departamento = null;
      this.datos.provincia = null;
      this.datos.distrito = null;
      this.datos.foto = "/static/usuarios/default.png";
      this.provincias =[];
      this.distritos =[];

      this.forms.formAgregar = false;
    },
    actualizarFoto (e) {
      var reader, files = e.target.files
      reader = new FileReader();
      reader.onload = (e) => {
        this.datos.foto = e.target.result
      }
      reader.readAsDataURL(files[0])
    },
    



    llenarDepartamentos(){
      var cadena = '/departamento'
      api.get(cadena)
          .then(response => {
            this.departamentos = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarProvincias(){
      var cadena = '/provincia/departamento/' + this.datos.departamento;
      api.get(cadena)
          .then(response => {
            this.provincias = response.data;
            this.departamento_seleccionado= false;
            this.provincia_seleccionada= true;
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarDistritos(){
      var cadena = '/distrito/provincia/' + this.datos.provincia;
      api.get(cadena)
          .then(response => {
            this.distritos = response.data;
            this.provincia_seleccionada= false;
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarTiposDoc(){
      var cadena = '/tipodocumento'
      api.get(cadena)
          .then(response => {
            this.tipos_doc = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    llenarRoles(){
      var cadena = '/rol'
      api.get(cadena)
          .then(response => {
            this.roles = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },
  },
  mounted(){
    this.llenarRoles();
    this.llenarDepartamentos();
    this.llenarTiposDoc()
    this.listarUsuarios();
    this.$validator.localize("es", this.dictionary)
  }
}
</script>

<style lang="scss">
  .td {
    width: 500px;
  }
  .centro {
    text-align: center
  }
  .izquierda {
    text-align: left
  }
  .derecha {
    text-align: right
  }
  .input-file {
    opacity: 0; /* invisible but it's there! */
  }

</style>