<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>

        <v-flex lg12>
          <h2>Procesar histórico</h2>
        </v-flex>

        <v-flex lg4>
          <v-menu
            v-model="menu_ini"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="fecha_ini"
                label="Fecha Inicio"
                prepend-icon="event"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="fecha_ini" @input="menu_ini = false"></v-date-picker>
          </v-menu>
        </v-flex>

        <v-flex lg4>
          <v-menu
            v-model="menu_fin"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="fecha_fin"
                label="Fecha Inicio"
                prepend-icon="event"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="fecha_fin" @input="menu_fin = false"></v-date-picker>
          </v-menu>
        </v-flex>
        
        <v-flex lg4>
            <v-btn @click.native="extraccion">Extraer</v-btn>
        </v-flex> 

        <v-flex lg12>
            <span v-if="loading">
              <v-flex lg4>
                <h4>
                  Cargando
                </h4>
              </v-flex>
              <v-flex lg4>
                <pulse-loader></pulse-loader>
              </v-flex>
            </span>

            <span v-if="flag_procesados">
              <h4>
                Se procesaron {{this.cant.cantidad}} reclamos correctamente y estan listos para el entrenamiento.
              </h4>
            </span>

            <span v-if="flag_procesados_inicial">
              <h4>
                Aún no se ha realizado ningún procesamiento en esta sesión.
              </h4>
            </span>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios';

import Vue from 'vue';
import api from "../../conection3";
import PulseLoader from '../../components/PulseLoader.vue'


export default {
  components: {
    PulseLoader
  },
  data() {
    return {
      datos:{
        fechaIni: '',
        fechaFin: '',
      },
      fecha_ini: null,
      fecha_fin: null,
      cant: null,
      menu_ini: false,
      menu_fin: false,
      flag_procesados: false,
      flag_procesados_inicial: true,
      loading: false,
    }
  },

  methods:{

    extraccion: function () {
      var cadena = '/extraer'
      this.datos.fechaIni = this.fecha_ini;
      this.datos.fechaFin = this.fecha_fin;
      this.flag_procesados = false;
      this.flag_procesados_inicial = false;
      this.loading = true;
      console.log(this.datos)
      api.post(cadena, this.datos, {timeout: 1000000000})
      .then(response => {
        this.cant = response.data;
        this.loading = false;
        this.flag_procesados = true;
        this.fecha_ini = null;
        this.fecha_fin = null;
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },
  },
  mounted(){
  }
}
</script>

<style lang="scss">
  .centro {
    text-align: center
  }

</style>