<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg8 offset-lg2>

          <v-card>
              <v-card-title>
                  <span class="headline">Cuenta</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                  <v-form class="centro"  data-vv-scope="validarAgregarUsuario">
                      <v-layout row wrap>
                          <v-flex xs12 >
                              <v-avatar size="320">
                              <img v-bind:src="datos.foto" v-on:click="openUploadAgregar()">
                              </v-avatar>
                              <form enctype="multipart/form-data">
                              <input 
                                  type="file" 
                                  id="file-field" 
                                  ref="fileAgregar" 
                                  class="input-file" 
                                  v-validate="'image'" 
                                  data-vv-name="foto" 
                                  :error-messages="errors.collect('validarAgregarUsuario.foto')"
                                  @change="actualizarFoto">
                              </form>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex xs12 >
                            <h4>
                              {{datos.nombre}}
                            </h4>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex xs12 >
                            <v-label>
                              {{datos.tipoDoc}}: {{datos.numDoc}}
                            </v-label>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex xs12 >
                            <v-label>
                              Rol: {{datos.rol}}
                            </v-label>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex xs12 >
                            <v-label>
                              Correo: {{datos.correo}}
                            </v-label>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex lg2 offset-lg5>
                              <v-text-field 
                              label="Teléfono"
                              name="telefono"
                              v-model="datos.telefono"
                              ></v-text-field>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex lg4 offset-lg4>
                            <v-btn color="primary" @click.native="guardar()" >Guardar</v-btn>
                          </v-flex>
                      </v-layout>

                      <v-divider></v-divider>

                      <v-layout row wrap>  
                          <v-flex lg4 offset-lg4>
                              <v-text-field 
                              label="Contraseña actual"
                              name="pass1"
                              v-model="datos.pass1"
                              type="password"
                              ></v-text-field>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex lg4 offset-lg4>
                              <v-text-field 
                              label="Contraseña nueva"
                              name="pass2"
                              v-model="datos.pass2"
                              type="password"
                              ></v-text-field>
                          </v-flex>
                      </v-layout>
                      <v-layout row wrap>  
                          <v-flex lg4 offset-lg4>
                              <v-text-field 
                              label="Repita la nueva contraseña"
                              name="pass3"
                              v-model="datos.pass3"
                              type="password"
                              ></v-text-field>
                          </v-flex>
                      </v-layout>

                      <v-layout row wrap>  
                          <v-flex lg4 offset-lg4>
                            <v-btn color="primary" @click.native="cambiarPass()" >Cambiar Contraseña</v-btn>
                          </v-flex>
                      </v-layout>
                  </v-form>
              </v-card-text>
          </v-card>
        </v-flex>

        

        <!-- MODAL MENSAJE -->
        
        <v-dialog v-model='forms.modalMensaje' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">{{this.titulo}}</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">{{this.mensaje}}</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalMensaje = false;">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>

      </v-layout>
    </v-container>
  </div>
</template>


<script>

import axios from 'axios';

import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, { inject: false });
import api from "../../conection";
import api2 from "../../conection2";

export default {
  $_veeValidate: {
    validator: 'new'
  }, 
  data() {
    return {
      idUsuario: null,
      datos: {
        idUsuario: null,
        foto: null,
        nombre: null,
        tipoDoc: null,
        numDoc: null,
        rol: null,
        correo: null,
        telefono: null,
        pass1: null,
        pass2: null,
        pass3: null
      },
      cambioPass:{
        idUsuario: null,
        passAntiguo: null,
        passNuevo: null
      },
      forms:{
        modalMensaje: false,
      },
      mensaje: null,
      titulo: null,
      flagImg: 0,
    }
  },

  methods:{
    subirFotoAgregar(id_usuario) {
      let cadena = '/usuario/subirImg/' + id_usuario; 

      let formData = new FormData();
      let file = this.$refs.fileAgregar.files[0];
      formData.append('file', file);
      api2.post( cadena, formData)
      .then(response => {
        this.idUsuario = response.data;
        this.flagImg = 1;
      })
      .catch(e => {
        this.error.push(e)
      })
    },
    openUploadAgregar() {
      document.getElementById('file-field').click();
    },
    actualizarFoto (e) {
      var reader, files = e.target.files
      reader = new FileReader();
      reader.onload = (e) => {
        this.datos.foto = e.target.result
      }
      reader.readAsDataURL(files[0])
    },
    inicializarDatos(){
      var usuario = this.$store.state.token;
      this.datos.idUsuario = usuario.id_usuario;
      this.datos.foto = "/static/usuarios/"+usuario.foto;
      this.datos.nombre = usuario.nombre + " " + usuario.apellido_pat + " " + usuario.apellido_mat;
      this.datos.tipoDoc = usuario.tipo_documento.nombre;
      this.datos.numDoc = usuario.num_documento;
      this.datos.rol = usuario.rol.nombre;
      this.datos.correo = usuario.correo;
      this.datos.telefono = usuario.telefono;
    },
    cambiarPass(){
      if(this.datos.pass2 == this.datos.pass3){
        var cadena = '/usuario/cambiarpass';
        this.cambioPass.idUsuario = this.$store.state.token.id_usuario;
        this.cambioPass.passAntiguo = this.datos.pass1;
        this.cambioPass.passNuevo = this.datos.pass2;

        api.post(cadena, this.cambioPass)
        .then(response => {
          this.idUsuario = response.data;
          this.cambioPass.idUsuario = null;
          this.cambioPass.passAntiguo = null;
          this.cambioPass.passNuevo = null;
          this.datos.pass1 = null;
          this.datos.pass2 = null;
          this.datos.pass3 = null;
          this.titulo = "Cambio de contraseña exitoso";
          this.mensaje = "Se cambió la contraseña con éxito, la contraseña temporal ha sido deshabilitada";
          this.forms.modalMensaje = true;
        }
        )
        .catch(e => {
          this.error.push(e)
        })
      }
    },
    guardar(){
      var cadena = '/usuario/editar/cuenta';
      var foto_temp = this.datos.foto;
      if(this.flagImg==0){
        this.datos.foto=null;
      }
      api.post(cadena, this.datos)
      .then(response => {
        this.idUsuario = response.data;
        if(this.datos.foto == null){
            this.datos.foto = foto_temp;
            
        }else{
            this.subirFotoAgregar(this.idUsuario);
        }
        this.obtenerUsuario();
        this.titulo = "Datos actualizados";
        this.mensaje = "El teléfono y la foto fueron actualizados con éxitos.";
        this.forms.modalMensaje = true;
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },

    obtenerUsuario(){
      var cadena = '/usuario/' + this.$store.state.token.id_usuario;
      
      api.get(cadena)
          .then(response => {
            this.$store.dispatch("login",response.data);
            console.log(this.$store.state.token)
          })
          .catch(e => {
            this.error.push(e)
          })
      

    }
  },
  mounted(){
    this.inicializarDatos();
  }
}
</script>

<style lang="scss">
  .td {
    width: 500px;
  }
  .centro {
    text-align: center
  }
  .izquierda {
    text-align: left
  }
  .derecha {
    text-align: right
  }
  .input-file {
    opacity: 0; /* invisible but it's there! */
  }

</style>