<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>

        <v-card>
            <v-card-title>
                <span class="headline">Registrarse</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-container grid-list-md>
                <v-form class="centro"  data-vv-scope="validarAgregarUsuario">
                    <v-layout row wrap>
                        <v-flex xs12 >
                            <v-avatar size="320">
                            <img v-bind:src="datos.foto" v-on:click="openUploadAgregar()">
                            </v-avatar>
                            <form enctype="multipart/form-data">
                            <input 
                                type="file" 
                                id="file-field" 
                                ref="fileAgregar" 
                                class="input-file" 
                                v-validate="'image'" 
                                data-vv-name="foto" 
                                :error-messages="errors.collect('validarAgregarUsuario.foto')"
                                @change="actualizarFoto">
                            </form>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 >
                            <v-text-field 
                            label="Documento de identidad" 
                            id="num_docAgregar" 
                            name="num_doc" 
                            v-model="datos.num_doc"
                            data-vv-name="num_doc" 
                            v-validate="'required'"
                            :error-messages="errors.collect('validarAgregarUsuario.num_doc')"
                            @change="validarDNI"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 >
                            <v-text-field 
                            label="Nombre"
                            id="nombreAgregar" 
                            name="nombre" 
                            v-model="datos.nombre"
                            data-vv-name="nombre" 
                            v-validate="'required'"
                            :error-messages="errors.collect('validarAgregarUsuario.nombre')"
                            disabled
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 >
                            <v-text-field 
                            label="Apellido Paterno" 
                            id="apellido_patAgregar" 
                            name="apellido_pat" 
                            v-model="datos.apellido_pat"
                            data-vv-name="apellido_pat" 
                            v-validate="'required'"
                            :error-messages="errors.collect('validarAgregarUsuario.apellido_pat')"
                            disabled
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 >
                            <v-text-field 
                            label="Apellido Materno" 
                            name="apellido_mat" 
                            id="apellido_matAgregar" 
                            v-model="datos.apellido_mat"
                            data-vv-name="apellido_mat" 
                            v-validate="'required'"
                            :error-messages="errors.collect('validarAgregarUsuario.apellido_mat')"
                            disabled
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>  
                        <v-flex xs12 >
                            <v-text-field 
                            label="Correo" 
                            id="correoAgregar" 
                            name="correo" 
                            v-model="datos.correo"
                            data-vv-name="correo" 
                            v-validate="'required'"
                            :error-messages="errors.collect('validarAgregarUsuario.correo')"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>  
                        <v-flex xs12 >
                            <v-text-field 
                            label="Teléfono" 
                            id="telefonoAgregar" 
                            name="telefono" 
                            v-model="datos.telefono"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>  
                        <v-flex xs12 >
                            <v-text-field 
                            label="Contraseña" 
                            id="passAgregar" 
                            name="pass" 
                            type="password"
                            v-model="datos.pass"
                            data-vv-name="pass" 
                            v-validate="'required'"
                            :error-messages="errors.collect('validarAgregarUsuario.pass')"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>  
                        <v-flex xs12 >
                            <v-text-field 
                            label="Repita la contraseña" 
                            id="passAgregar2" 
                            name="pass2" 
                            type="password"
                            v-model="datos.pass2"
                            data-vv-name="pass" 
                            v-validate="'required'"
                            :error-messages="errors.collect('validarAgregarUsuario.pass')"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-form>
                </v-container>
                
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="volver()">Volver</v-btn>
                <v-btn color="primary" @click.native="confirmarAgregar()">Guardar</v-btn>
            </v-card-actions>
        </v-card>

        



        <!-- MODAL AGREGAR -->
        
        <v-dialog v-model='forms.modalAgregar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Registrar usuario</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que quiere registrar el usuario?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="registrarUsuario()" >Sí</v-btn>
                <v-btn @click.native="forms.modalAgregar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL REGISTRADO -->
        
        <v-dialog v-model='forms.modalAgregarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Usuario Registrado</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">El usuario se registro correctamente con id: {{this.idUsuario}}</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="aceptar()">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL MENSAJE -->
        
        <v-dialog v-model='forms.modalAgregarMensaje' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">{{this.titulo}}</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">{{this.mensaje}}</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalAgregarMensaje = false;">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>

      </v-layout>
    </v-container>
  </div>
</template>


<script>

import axios from 'axios';

import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, { inject: false });
import api from "../../conection";
import api2 from "../../conection2";
import api3 from "../../conection3";

export default {
  $_veeValidate: {
    validator: 'new'
  }, 
  data() {
    return {
      tipos_doc: [],
      titulo: null,
      mensaje: null,
      
      forms:{
        formAgregar: false,
        modalAgregar: false,
        modalAgregarCorrecto: false,
        modalAgregarMensaje: false,
      },
      datos:{
        id: null,
        nombre: null,
        apellido_pat: null,
        apellido_mat: null,
        tipo_doc: 1,
        num_doc: null,
        cui: null,
        rol: 3,
        correo: null,
        telefono: null,
        departamento: null,
        provincia: null,
        distrito: null,
        foto: "/static/usuarios/default.png",
        pass: null,
        pass2: null,
      },
      validar: null,
      idUsuario: null,
      dictionary: {
        custom: {
          nombre: {
            required:  () => 'Ingrese un nombre',
          },
          apellido_pat: {
            required:  () => 'Ingrese un apellido paterno',
          },
          apellido_mat: {
            required:  () => 'Ingrese un apellido materno',
          },
          tipo_doc: {
            required:  () => 'Seleccione un tipo de documento',
          },
          num_doc: {
            required:  () => 'Ingrese un número de documento',
            digits:  () => 'Solo puede ingresar números',
          },
          correo: {
            required:  () => 'Ingrese un correo',
            email: () => 'Debe ingresar un correo válido',
          },
          telefono: {
            required:  () => 'Ingrese un teléfono',
          },
          foto: {
            image:  () => 'Seleccione un archivo con formato de imagen por favor',
          },
          pass: {
            required:  () => 'Ingrese una contraseña',
          }       
        }
      },
    }
  },

  methods:{
    //METODOS DE REGISTRAR
    
    confirmarAgregar: function () {
      this.$validator.validateAll('validarAgregarUsuario').then(
        result =>{          
          if(result){
            if(this.datos.pass == this.datos.pass2){

                var cadena = '/usuario/validar'
                var valido = 0
                api.post(cadena, this.datos)
                .then(response => {
                    valido = response.data;
                    if(valido == 1){
                        this.forms.modalAgregar = true;
                    }else{
                        //mostrar mensaje de correo repetido
                        this.titulo = "Correo Repetido"
                        this.mensaje = "Ya se encuentra registrada una cuenta vinculada a ese correo"
                        this.forms.modalAgregarMensaje = true;
                    }
                }
                )
                .catch(e => {
                    this.error.push(e)
                })
            }else{
                //mostrar mensaje de contraseña diferente
                this.titulo = "Contraseña no coincide"
                this.mensaje = "Las contraseñas ingresadas no coinciden"
                this.forms.modalAgregarMensaje = true;
            }
          }
      })

      this.forms.formAgregar = false;
    },
    registrarUsuario: function () {
      var cadena = '/usuario/registrar/ciudadano'
      if(this.datos.foto == "/static/usuarios/default.png"){
          this.datos.foto = null;
      }
      api.post(cadena, this.datos)
      .then(response => {
        this.idUsuario = response.data;
        if(this.datos.foto == null){
            this.datos.foto = "/static/usuarios/default.png";
        }else{
            this.subirFotoAgregar(this.idUsuario);
        }
        this.forms.modalAgregar = false;
        this.forms.modalAgregarCorrecto = true;
        // redirigir al login
        this.$router.push('/login');
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },
    subirFotoAgregar(id_usuario) {
      let cadena = '/usuario/subirImg/' + id_usuario; 

      let formData = new FormData();
      let file = this.$refs.fileAgregar.files[0];
      formData.append('file', file);
      api2.post( cadena, formData)
      .then(response => {
        this.idUsuario = response.data
      })
      .catch(e => {
        this.error.push(e)
      })
    },
    openUploadAgregar() {
      document.getElementById('file-field').click();
    },
    actualizarFoto (e) {
      var reader, files = e.target.files
      reader = new FileReader();
      reader.onload = (e) => {
        this.datos.foto = e.target.result
      }
      reader.readAsDataURL(files[0])
    },
    aceptar() {
      this.forms.modalAgregarCorrecto = false;
      this.$router.push('/login');
    },
    volver() {
      this.$router.push('/login');
    },


    validarDNI(){
      console.log("num_doc: " + this.datos.num_doc)
      console.log("cui: " + this.datos.cui)
      var x = this.datos.num_doc;
      if(x.length == 8){ //longitud de num_doc
        var cadena = '/dni/'+x;
        console.log(cadena)
        api3.get(cadena)
          .then(response => {
            this.validar = response.data
            if(this.validar.dni != "0"){
              this.datos.nombre = this.validar.nombres;
              this.datos.apellido_pat = this.validar.apellido_paterno;
              this.datos.apellido_mat = this.validar.apellido_materno;
            }else{
              console.log("DNI no encontrado");
              //mostrar mensaje de DNI o CUI incorrecto
              this.titulo = "DNI no encontrado"
              this.mensaje = "El DNI no se encontró en la RENIEC"
              this.forms.modalAgregarMensaje = true;
            }
          })
          .catch(e => {
            this.error.push(e)
          })
      }
    },
    


    llenarTiposDoc(){
      var cadena = '/tipodocumento'
      api.get(cadena)
          .then(response => {
            this.tipos_doc = response.data
          })
          .catch(e => {
            this.error.push(e)
          })
    },
  },
  mounted(){
    this.llenarTiposDoc()
    this.$validator.localize("es", this.dictionary)
  }
}
</script>

<style lang="scss">
  .td {
    width: 500px;
  }
  .centro {
    text-align: center
  }
  .izquierda {
    text-align: left
  }
  .derecha {
    text-align: right
  }
  .input-file {
    opacity: 0; /* invisible but it's there! */
  }

</style>