<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>

        <!--TABLA -->
        <v-flex sm12>
          <h3>Atender Reclamos</h3>
        </v-flex>

        <span v-if="flag_supervisor">
          <v-flex lg14>
            <v-select
              autocomplete
              label="Especialista"
              item-text="nombre_completo"
              item-value="id_usuario"
              placeholder="Seleccione un especialista"
              :items="especialistas"
              v-model="especialista_seleccionado"
              name="nuevo"
              @change="listarReclamosxEsp()"
            ></v-select>
          </v-flex>
        </span>

        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.reclamos"
                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                class="elevation-1"
                item-key="id_reclamo"
              >
                <template v-slot:no-data>
                  <v-alert :value="true" color="blue lighten-1" icon="info">
                    No hay datos disponibles
                  </v-alert>
                </template>
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.id_reclamo }}</td>
                  <td>{{ props.item.num_suministro }}</td>
                  <td>{{ props.item.motivo.desc }}</td>
                  <td>{{ props.item.ciudadano.nombre }} {{ props.item.ciudadano.apellido_pat }} {{ props.item.ciudadano.apellido_mat }}</td>
                  <td>{{ props.item.ciudadano.num_documento }}</td>
                  <td>
                    <span v-if= "props.item.estado == 0" >Registrado</span>
                    <span v-if= "props.item.estado == 1" >Atendido</span>
                    <span v-if= "props.item.estado == 2" >Cancelado</span>
                  </td>
                  <td>{{ props.item.fecha_registro_str }}</td>
                  <td>{{ props.item.fecha_respuesta_str }}</td>
                  <td class="td_accion">
                    <v-btn icon @click="verDetalles(props.item.id_reclamo)" fab dark color="blue" small>
                      <v-icon>info</v-icon>
                    </v-btn>
                    <span v-if= "props.item.estado == 0">
                        <v-btn icon @click="verResponder(props.item.id_reclamo)" fab dark color="orange" small>
                        <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn icon @click="verReasignar(props.item.id_reclamo)" fab dark color="red" small>
                        <v-icon>compare_arrows</v-icon>
                        </v-btn>
                    </span>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>



        <!--FORM DETALLE -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formDetalle" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Reclamo N° {{detalles.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img :src="detalles.foto"/>
                              </v-avatar>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Motivo:</b> {{detalles.motivo.desc}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Número de suministro:</b> {{detalles.num_suministro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Ciudadano:</b> {{detalles.ciudadano}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Correo:</b> {{detalles.correo}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Teléfono:</b> {{detalles.telefono}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Fecha Registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.fecha_atencion != null">
                                <v-label><b>Fecha Atención:</b> {{detalles.fecha_atencion}}</v-label> 
                              </span>
                              <span v-if= "detalles.fecha_atencion == null">
                                <v-label><b>Fecha Atención:</b> ----------</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.estado == 0">
                                <v-label><b>Estado:</b> Registrado</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 1">
                                <v-label><b>Estado:</b> Atendido</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 2">
                                <v-label><b>Estado:</b> Cancelado</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Evidencias:</b></v-label>
                              <ul class="ul" id="example-1">
                                <li class="li" v-bind:key="evidencia.nombre" v-for="evidencia in detalles.evidencias">
                                  <a :href="evidencia.ubicacion" download>{{evidencia.nombre}}</a>
                                </li>
                              </ul>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Respuesta:</b></v-label>
                              <v-textarea
                                v-model="detalles.respuesta"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <span v-if= "detalles.estado == 1">
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Comentario:</b></v-label>
                              <v-textarea
                                v-model="detalles.comentario"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex>
                          </v-layout>
                          </span>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="cerrarDetalle()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  




        

        <!--FORM RESPUESTA -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formRespuesta" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Reclamo N° {{detalles.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img :src="detalles.foto"/>
                              </v-avatar>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Motivo"
                                item-text="desc"
                                item-value="id_motivo"
                                placeholder="Seleccione un motivo"
                                :items="motivos"
                                v-model="detalles.motivo"
                                name="motivo"
                              ></v-select>
                            </v-flex>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Número de suministro:</b> {{detalles.num_suministro}}</v-label>
                            </v-flex>
                          </v-layout>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Ciudadano:</b> {{detalles.ciudadano}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Correo:</b> {{detalles.correo}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Teléfono:</b> {{detalles.telefono}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Fecha Registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.fecha_atencion != null">
                                <v-label><b>Fecha Atención:</b> {{detalles.fecha_atencion}}</v-label> 
                              </span>
                              <span v-if= "detalles.fecha_atencion == null">
                                <v-label><b>Fecha Atención:</b> ----------</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.estado == 0">
                                <v-label><b>Estado:</b> Registrado</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 1">
                                <v-label><b>Estado:</b> Atendido</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 2">
                                <v-label><b>Estado:</b> Cancelado</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Evidencias:</b></v-label>
                              <ul class="ul" id="example-1">
                                <li class="li" v-bind:key="evidencia.nombre" v-for="evidencia in detalles.evidencias">
                                  <a :href="evidencia.ubicacion" download>{{evidencia.nombre}}</a>
                                </li>
                              </ul>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Respuesta:</b></v-label>
                              <v-textarea
                                v-model="detalles.respuesta"
                                auto-grow
                                filled
                                rows="1"
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="confirmarResponder()">Responder</v-btn>
                    <v-btn @click.native="cerrarResponder()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  


        <!-- MODAL RESPONDER -->
        
        <v-dialog v-model='forms.modalRespuestaConfirmar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Responder Reclamo</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea enviar la respuesta?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="responderReclamo()" >Sí</v-btn>
                <v-btn @click.native="forms.modalRespuestaConfirmar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL RESPONDER CONFIRMADO -->
        
        <v-dialog v-model='forms.modalRespuestaCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Respuesta enviada</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se envió la respuesta correctamente.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalRespuestaCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>




        

        <!--FORM SOLICITUD -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formReasignar" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Solicitar reasignación del reclamo N° {{solicitud.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-select
                                autocomplete
                                label="Motivo"
                                item-text="desc"
                                item-value="id_motivo"
                                placeholder="Seleccione un motivo"
                                :items="motivos"
                                v-model="solicitud.motivo"
                                name="motivo"
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Motivo:</b></v-label>
                              <v-textarea
                                v-model="solicitud.texto"
                                auto-grow
                                filled
                                rows="1"
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="confirmarReasignar()">Responder</v-btn>
                    <v-btn @click.native="cerrarReasignar()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  


        <!-- MODAL SOLICITUD -->
        
        <v-dialog v-model='forms.modalReasignarConfirmar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Solicitar Reasignación</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea solicitar la reasignación del reclamo?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="reasignarReclamo()" >Sí</v-btn>
                <v-btn @click.native="forms.modalReasignarConfirmar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL SOLICITUD CONFIRMADO -->
        
        <v-dialog v-model='forms.modalReasignarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Solicitud enviada</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se registro la solicitud correctamente.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalReasignarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>





      </v-layout>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios';

import Vue from 'vue';
import api from "../../conection";

export default {
  data() {
    return {
      search: '',
      complex: {
        selected: [],
        headers: [
          {
            text: "N°",
            value: "n"
          },
          {
            text: "N° suministro",
            value: "num_suministro"
          },
          {
            text: "Motivo",
            value: "motivo"
          },
          {
            text: "Ciudadano",
            value: "ciudadano"
          },
          {
            text: "DNI",
            value: "ciudadano.numero_documento"
          },
          {
            text: "Estado",
            value: "estado"
          },
          {
            text: "Fecha registro",
            value: "fecha_registro"
          },
          {
            text: "Fecha atención",
            value: "fecha_atencion"
          },
          {
            text: "Acciones",
            value: ""
          }
        ],
        reclamos: [],
        errors: []
      },
      forms:{
        formDetalle: false,
        formRespuesta: false,
        formReasignar: false,
        modalRespuestaConfirmar: false,
        modalReasignarConfirmar: false,
        modalRespuestaCorrecto: false,
        modalReasignarCorrecto: false
      },
      detalles:{
        id: null,
        motivo: {
          id_motivo: null,
          desc: null
        },
        ciudadano: null,
        foto: null,
        correo: null,
        telefono: null,
        fecha_registro: null,
        fecha_atencion: null,
        estado: null,
        texto: null,
        respuesta: null,
        comentario: null,
        num_suministro: null,
        evidencias: []
      },
      idReclamo: null,
      respuesta:{
        id: null,
        texto: null,
        motivo: null
      },
      solicitud:{
        id: null,
        texto: null,
        motivo: null,
        id_usuario: null,
      },
      motivos: [],
      flag_supervisor: false,
      especialista_seleccionado: null,
      especialistas: []
    }
  },

  methods:{
    esSupervisor(){
      if(this.$store.state.token.rol.id_rol==4){
        this.listarEspecialistas();
        this.flag_supervisor = true;
        this.especialista_seleccionado = this.$store.state.token.id_usuario;
      }
    },
    listarReclamosxEsp(){
      var cadena = '/reclamo/especialista/' + this.especialista_seleccionado;
      api.get(cadena)
          .then(response => {
            this.complex.reclamos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
      
    },
    listarEspecialistas(){
      var cadena = '/usuario/combo';
      api.get(cadena)
          .then(response => {
            this.especialistas = response.data
            for( var i = 0; i < this.especialistas.length; i++ ){
              var nombre_completo = this.especialistas[i].nombre + " " + this.especialistas[i].apellido_pat + " " + this.especialistas[i].apellido_mat;
              //console.log(nombre_completo)
              this.especialistas[i].nombre_completo = nombre_completo;
            }
            //console.log(this.especialistas)
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarReclamos(){
      var cadena = '/reclamo/especialista/' + this.$store.state.token.id_usuario;
      api.get(cadena)
          .then(response => {
            this.complex.reclamos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarMotivos(){
      var cadena = '/motivo';
      api.get(cadena)
          .then(response => {
            this.motivos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarEvidencias(id_reclamo){
      var cadena = '/evidencia/reclamo/' + id_reclamo;
      api.get(cadena)
          .then(response => {
            this.detalles.evidencias = response.data
            for( var i = 0; i < this.detalles.evidencias.length; i++ ){
              var ubicacion = "/static/evidencias/" + this.detalles.evidencias[i].ubicacion;
              console.log(ubicacion)
              this.detalles.evidencias[i].ubicacion = ubicacion;
            }
            console.log(this.detalles.evidencias)
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    verDetalles: function (id_reclamo) {
        var reclamo = this.complex.reclamos.find(x=>x.id_reclamo==id_reclamo)
        this.detalles.id = id_reclamo;
        console.log(reclamo.motivo)
        this.detalles.motivo = reclamo.motivo;
        this.detalles.ciudadano = reclamo.ciudadano.nombre+" "+reclamo.ciudadano.apellido_pat+" "+reclamo.ciudadano.apellido_mat;
        this.detalles.foto = "/static/usuarios/"+reclamo.ciudadano.foto;
        this.detalles.correo = reclamo.ciudadano.correo;
        this.detalles.telefono = reclamo.ciudadano.telefono;
        this.detalles.fecha_registro = reclamo.fecha_registro_str;
        this.detalles.fecha_atencion = reclamo.fecha_respuesta_str;
        this.detalles.estado = reclamo.estado;
        this.detalles.num_suministro = reclamo.num_suministro;
        this.detalles.texto = reclamo.texto;
        this.detalles.respuesta = reclamo.respuesta;
        this.detalles.comentario = reclamo.comentario;
        this.listarEvidencias(id_reclamo);
        console.log(this.detalles);

        this.forms.formDetalle = true;
    },
    cerrarDetalle: function () {
        this.detalles.id = null;
        this.detalles.ciudadano = null;
        this.detalles.foto = null;
        this.detalles.correo = null;
        this.detalles.telefono = null;
        this.detalles.fecha_registro = null;
        this.detalles.fecha_atencion = null;
        this.detalles.texto = null;
        this.detalles.respuesta = null;
        this.detalles.comentario = null;
        this.detalles.evidencias = [];

        this.forms.formDetalle = false;
    },
    verResponder: function (id_reclamo) {
      var reclamo = this.complex.reclamos.find(x=>x.id_reclamo==id_reclamo)
      this.detalles.id = id_reclamo;
      this.respuesta.id=id_reclamo;
      this.respuesta.motivo=reclamo.motivo.id_motivo;
      this.detalles.motivo = reclamo.motivo.id_motivo;
      this.detalles.ciudadano = reclamo.ciudadano.nombre+" "+reclamo.ciudadano.apellido_pat+" "+reclamo.ciudadano.apellido_mat;
      this.detalles.foto = "/static/usuarios/"+reclamo.ciudadano.foto;
      this.detalles.correo = reclamo.ciudadano.correo;
      this.detalles.telefono = reclamo.ciudadano.telefono;
      this.detalles.fecha_registro = reclamo.fecha_registro_str;
      this.detalles.fecha_atencion = reclamo.fecha_respuesta_str;
      this.detalles.estado = reclamo.estado;
      this.detalles.texto = reclamo.texto;
      this.detalles.respuesta = reclamo.respuesta;
      this.listarEvidencias(id_reclamo);
      console.log(this.detalles);

      this.forms.formRespuesta = true;
    },
    cerrarResponder: function () {
        this.detalles.id = null;
        this.detalles.ciudadano = null;
        this.detalles.foto = null;
        this.detalles.correo = null;
        this.detalles.telefono = null;
        this.detalles.fecha_registro = null;
        this.detalles.fecha_atencion = null;
        this.detalles.texto = null;
        this.detalles.respuesta = null;
        this.detalles.comentario = null;
        this.detalles.evidencias = [];

      this.forms.formRespuesta = false;
    },
    confirmarResponder: function () {
      this.respuesta.id=this.detalles.id;
      this.respuesta.texto=this.detalles.respuesta;
      this.respuesta.motivo=this.detalles.motivo;
      this.forms.modalRespuestaConfirmar = true;
      console.log(this.respuesta)
    },
    responderReclamo: function () {
        var cadena = '/reclamo/responder/'+ this.$store.state.token.id_usuario;
        api.post(cadena, this.respuesta)
        .then(response => {
          this.idReclamo = response.data;
          console.log(this.idReclamo);
          this.listarReclamos();
          this.cerrarResponder();

          this.respuesta.id=null;
          this.respuesta.texto=null;
          this.respuesta.motivo=null;

          this.forms.modalRespuestaConfirmar = false;
          this.forms.modalRespuestaCorrecto = true;
        }
        )
        .catch(e => {
          this.errors.push(e)
        })
    },
    //METODOS DE REASIGNAR
    verReasignar: function (id_reclamo) {
      var reclamo = this.complex.reclamos.find(x=>x.id_reclamo==id_reclamo)
      this.solicitud.id = id_reclamo;
      this.solicitud.id_usuario = this.$store.state.token.id_usuario;
      this.solicitud.motivo=reclamo.motivo.id_motivo;
      this.detalles.texto = reclamo.texto;

      this.forms.formReasignar = true;
    },
    cerrarReasignar: function () {
      this.solicitud.id = null;
      this.solicitud.id_usuario = null;
      this.solicitud.texto = null;
      this.solicitud.motivo=null;
      this.detalles.texto = null;

      this.forms.formReasignar = false;
    },
    confirmarReasignar: function () {
      this.forms.modalReasignarConfirmar = true;
      console.log(this.solicitud)
    },
    reasignarReclamo: function () {
        var cadena = '/solicitud/registrar'
        api.post(cadena, this.solicitud)
        .then(response => {
          this.cerrarReasignar();

          this.forms.modalReasignarConfirmar = false;
          this.forms.modalReasignarCorrecto = true;
        }
        )
        .catch(e => {
          this.errors.push(e)
        })
    },
  },
  mounted(){
    this.esSupervisor();
    this.listarReclamos();
    this.listarMotivos();
    console.log(this.complex.reclamos);
  }
}
</script>


<style lang="scss">
  .centro {
    text-align: center
  }
  .izquierda {
    text-align: left
  }

  .ul{
    list-style-image: url("../../../public/static/icon/document2.png");
  }
  
  .li{
    margin-left:25px;
  }
  .td_accion {
    width: 220px;
  }

</style>