<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>



        <!--FORM DETALLE -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formDetalle" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Solicitud N° {{detalles.id}} del reclamo N° {{detalles.id_reclamo}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Motivo:</b> {{detalles.motivo}}</v-label>
                            </v-flex>
                          </v-layout>

                          
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Número de suministro:</b> {{detalles.num_suministro}}</v-label>
                            </v-flex>
                          </v-layout>

                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Fecha Registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Solicitante:</b> {{detalles.solicitante}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Ciudadano:</b> {{detalles.ciudadano}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Motivo Solicitud:</b></v-label>
                              <v-textarea
                                v-model="detalles.motivo_solicitud"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <span v-if= "detalles.estado > 0">
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Comentario:</b></v-label>
                              <v-textarea
                                v-model="detalles.comentario"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex>
                          </v-layout>
                          </span>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="cerrarDetalle()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  





        <!--FORM ACEPTAR -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formAceptar" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Solicitud N° {{detalles.id}} del reclamo N° {{detalles.id_reclamo}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Motivo:</b> {{detalles.motivo}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Fecha Registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Solicitante:</b> {{detalles.solicitante}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Ciudadano:</b> {{detalles.ciudadano}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Motivo Solicitud:</b></v-label>
                              <v-textarea
                                v-model="detalles.motivo_solicitud"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-select
                                autocomplete
                                label="Especialista"
                                item-text="nombre_completo"
                                item-value="id_usuario"
                                placeholder="Seleccione un especialista"
                                :items="especialistas"
                                v-model="detalles.nuevo"
                                name="nuevo"
                              ></v-select>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Comentario:</b></v-label>
                              <v-textarea
                                v-model="detalles.comentario"
                                auto-grow
                                filled
                                rows="1"
                              ></v-textarea>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="confirmarAceptar()">Aceptar</v-btn>
                    <v-btn @click.native="cerrarAceptar()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  
        

        <!-- MODAL ACEPTAR -->
        
        <v-dialog v-model='forms.modalAceptar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Aceptar Solicitud</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea aceptar la solicitud de reasignación del reclamo?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="aceptarSolicitud()" >Sí</v-btn>
                <v-btn @click.native="forms.modalAceptar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL ACEPTAR CORRECTO -->
        
        <v-dialog v-model='forms.modalAceptarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Solicitud aceptada</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se aceptó la solicitud correctamente.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalAceptarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>







        <!-- FORM DENEGAR -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formDenegar" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Solicitud N° {{detalles.id}} del reclamo N° {{detalles.id_reclamo}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Motivo:</b> {{detalles.motivo}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Fecha Registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Solicitante:</b> {{detalles.solicitante}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Ciudadano:</b> {{detalles.ciudadano}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Motivo Solicitud:</b></v-label>
                              <v-textarea
                                v-model="detalles.motivo_solicitud"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Comentario:</b></v-label>
                              <v-textarea
                                v-model="detalles.comentario"
                                auto-grow
                                filled
                                rows="1"
                              ></v-textarea>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="confirmarDenegar()">Aceptar</v-btn>
                    <v-btn @click.native="cerrarDenegar()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  

        <!-- MODAL DENEGAR -->
        
        <v-dialog v-model='forms.modalDenegar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Denegar Solicitud</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea denegar la solicitud de reasignación del reclamo?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="denegarSolicitud()" >Sí</v-btn>
                <v-btn @click.native="forms.modalDenegar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL DENEGAR CORRECTO -->
        
        <v-dialog v-model='forms.modalDenegarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Solicitud denegada</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se denegó la solicitud correctamente.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalDenegarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>



        <!-- TABLA -->
        <v-flex lg12>
          <h3>Reasignación de Reclamos</h3>
        </v-flex>


        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.solicitudes"
                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                class="elevation-1"
                item-key="id_solicitud"
              >
                <template v-slot:no-data>
                  <v-alert :value="true" color="blue lighten-1" icon="info">
                    No hay datos disponibles
                  </v-alert>
                </template>
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.id_solicitud }}</td>
                  <td>{{ props.item.reclamo.id_reclamo }}</td>
                  <td>{{ props.item.reclamo.motivo.desc }}</td>
                  <td>{{ props.item.solicitante.nombre }} {{ props.item.solicitante.apellido_pat }} {{ props.item.solicitante.apellido_mat }}</td>
                  <td>{{ props.item.motivo }}</td>
                  <td>
                    <span v-if= "props.item.estado == 0" >Pendiente</span>
                    <span v-if= "props.item.estado == 1" >Atendida</span>
                    <span v-if= "props.item.estado == 2" >Denegada</span>
                    <span v-if= "props.item.estado == 3" >Cancelada</span>
                  </td>
                  <td class="td">
                    <v-btn icon @click="verDetalles(props.item.id_solicitud)"  fab dark color="blue" small>
                      <v-icon>info</v-icon>
                    </v-btn>
                    <span v-if= "props.item.estado == 0">
                        <v-btn icon @click="verAceptar(props.item.id_solicitud)" fab dark color="green" small>
                        <v-icon>check</v-icon>
                        </v-btn>
                        <v-btn icon @click="verDenegar(props.item.id_solicitud)" fab dark color="red" small>
                        <v-icon>close</v-icon>
                        </v-btn>
                    </span>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios';

import Vue from 'vue';
import api from "../../conection";

export default {
  data() {
    return {
      search: '',
      complex: {
        selected: [],
        headers: [
          {
            text: "N°",
            value: "id_solicitud"
          },
          {
            text: "N° Reclamo",
            value: "reclamo.id_reclamo"
          },
          {
            text: "Motivo Reclamo",
            value: "reclamo.motivo.id_motivo"
          },
          {
            text: "Solicitante",
            value: "solicitante.nombre"
          },
          {
            text: "Motivo Solicitud",
            value: "motivo"
          },
          {
            text: "Estado",
            value: "estado"
          },
          {
            text: "Acciones",
            value: ""
          }
        ],
        solicitudes: [],
        errors: []
      },
      forms:{
        formDetalle: false,
        formAceptar: false,
        formDenegar: false,
        modalAceptar: false,
        modalDenegar: false,
        modalAceptarCorrecto: false,
        modalDenegarCorrecto: false,
      },
      detalles:{
        id: null,
        id_reclamo: null,
        motivo: null,
        fecha_registro: null,
        solicitante: null,
        ciudadano: null,
        texto: null,
        motivo_solicitud: null,
        nuevo: null,
        comentario: null,
        num_suministro: null,
        estado: null,
      },
      solicitud:{
        id: null,
        id_admin: null,
        id_nuevo: null,
        texto: null,
      },
      especialistas: [],
      idSolicitud: null,
    }
  },

  methods:{
    listarSolicitudes(){
      var cadena = '/solicitud';
      api.get(cadena)
          .then(response => {
            this.complex.solicitudes = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarEspecialistas(){
      var cadena = '/usuario/rol/1';
      api.get(cadena)
          .then(response => {
            this.especialistas = response.data
            for( var i = 0; i < this.especialistas.length; i++ ){
              var nombre_completo = this.especialistas[i].nombre + " " + this.especialistas[i].apellido_pat + " " + this.especialistas[i].apellido_mat;
              console.log(nombre_completo)
              this.especialistas[i].nombre_completo = nombre_completo;
            }
            console.log(this.especialistas)
          })
          .catch(e => {
            this.errors.push(e)
          })
    },


    //METODOS DE DETALLES
    verDetalles: function (id_solicitud) {
      var solicitud = this.complex.solicitudes.find(x=>x.id_solicitud==id_solicitud)
      this.detalles.id = id_solicitud;
      this.detalles.id_reclamo = solicitud.reclamo.id_reclamo;
      this.detalles.motivo = solicitud.reclamo.motivo.desc;
      this.detalles.fecha_registro = solicitud.reclamo.fecha_registro_str;
      this.detalles.solicitante = solicitud.solicitante.nombre + " " + solicitud.solicitante.apellido_pat + " " + solicitud.solicitante.apellido_mat;
      this.detalles.ciudadano = solicitud.reclamo.ciudadano.nombre + " "+ solicitud.reclamo.ciudadano.apellido_pat + " " + solicitud.reclamo.ciudadano.apellido_mat;
      this.detalles.texto = solicitud.reclamo.texto;
      this.detalles.num_suministro = solicitud.reclamo.num_suministro;
      this.detalles.motivo_solicitud = solicitud.motivo;
      this.detalles.nuevo = null;
      this.detalles.comentario = null;
      this.detalles.estado = solicitud.estado;
      
      console.log(this.detalles);

      this.forms.formDetalle = true;
    },
    cerrarDetalle: function () {
      this.detalles.id = null;
      this.detalles.id_reclamo = null;
      this.detalles.motivo = null;
      this.detalles.fecha_registro = null;
      this.detalles.solicitante = null;
      this.detalles.ciudadano = null;
      this.detalles.texto = null;
      this.detalles.num_suministro = null;
      this.detalles.motivo_solicitud = null;
      this.detalles.nuevo = null;
      this.detalles.comentario = null;
      this.detalles.estado = null;

      this.forms.formDetalle = false;
    },


    //METODOS DE ACEPTAR RECLAMO
    verAceptar: function (id_solicitud) {
      var solicitud = this.complex.solicitudes.find(x=>x.id_solicitud==id_solicitud)
      this.detalles.id = id_solicitud;
      this.detalles.id_reclamo = solicitud.reclamo.id_reclamo;
      this.detalles.motivo = solicitud.reclamo.motivo.desc;
      this.detalles.fecha_registro = solicitud.reclamo.fecha_registro_str;
      this.detalles.solicitante = solicitud.solicitante.nombre + " " + solicitud.solicitante.apellido_pat + " " + solicitud.solicitante.apellido_mat;
      this.detalles.ciudadano = solicitud.reclamo.ciudadano.nombre + " "+ solicitud.reclamo.ciudadano.apellido_pat + " " + solicitud.reclamo.ciudadano.apellido_mat;
      this.detalles.texto = solicitud.reclamo.texto;
      this.detalles.motivo_solicitud = solicitud.motivo;
      this.detalles.nuevo = null;
      this.detalles.comentario = null;
      this.detalles.estado = solicitud.estado;
      
      console.log(this.detalles);

      this.forms.formAceptar = true;
    },
    cerrarAceptar: function () {
      this.detalles.id = null;
      this.detalles.id_reclamo = null;
      this.detalles.motivo = null;
      this.detalles.fecha_registro = null;
      this.detalles.solicitante = null;
      this.detalles.ciudadano = null;
      this.detalles.texto = null;
      this.detalles.motivo_solicitud = null;
      this.detalles.nuevo = null;
      this.detalles.comentario = null;
      this.detalles.estado = null;

      this.forms.formAceptar = false;
    },
    confirmarAceptar: function () {
      this.solicitud.id=this.detalles.id;
      this.solicitud.id_admin=this.$store.state.token.id_usuario;
      this.solicitud.id_nuevo=this.detalles.nuevo;
      this.solicitud.texto=this.detalles.comentario;
      this.forms.modalAceptar = true;
      console.log(this.solicitud)
    },
    aceptarSolicitud: function () {
        var cadena = '/solicitud/aceptar'
        api.post(cadena, this.solicitud)
        .then(response => {
          this.idSolicitud = response.data;
          console.log(this.idSolicitud);
          this.listarSolicitudes();
          this.cerrarAceptar();

          this.solicitud.id=null;
          this.solicitud.id_admin=null;
          this.solicitud.id_nuevo=null;
          this.solicitud.texto=null;

          this.forms.modalAceptar = false;
          this.forms.modalAceptarCorrecto = true;
        }
        )
        .catch(e => {
          this.errors.push(e)
        })
    },



    
    //METODOS DE DENEGAR RECLAMO
    verDenegar: function (id_solicitud) {
      var solicitud = this.complex.solicitudes.find(x=>x.id_solicitud==id_solicitud)
      this.detalles.id = id_solicitud;
      this.detalles.id_reclamo = solicitud.reclamo.id_reclamo;
      this.detalles.motivo = solicitud.reclamo.motivo.desc;
      this.detalles.fecha_registro = solicitud.reclamo.fecha_registro_str;
      this.detalles.solicitante = solicitud.solicitante.nombre + " " + solicitud.solicitante.apellido_pat + " " + solicitud.solicitante.apellido_mat;
      this.detalles.ciudadano = solicitud.reclamo.ciudadano.nombre + " "+ solicitud.reclamo.ciudadano.apellido_pat + " " + solicitud.reclamo.ciudadano.apellido_mat;
      this.detalles.texto = solicitud.reclamo.texto;
      this.detalles.motivo_solicitud = solicitud.motivo;
      this.detalles.nuevo = null;
      this.detalles.comentario = null;
      this.detalles.estado = solicitud.estado;
      
      console.log(this.detalles);

      this.forms.formDenegar = true;
    },
    cerrarDenegar: function () {
      this.detalles.id = null;
      this.detalles.id_reclamo = null;
      this.detalles.motivo = null;
      this.detalles.fecha_registro = null;
      this.detalles.solicitante = null;
      this.detalles.ciudadano = null;
      this.detalles.texto = null;
      this.detalles.motivo_solicitud = null;
      this.detalles.nuevo = null;
      this.detalles.comentario = null;
      this.detalles.estado = null;

      this.forms.formDenegar = false;
    },
    confirmarDenegar: function () {
      this.solicitud.id=this.detalles.id;
      this.solicitud.id_admin=this.$store.state.token.id_usuario;
      this.solicitud.texto=this.detalles.comentario;
      this.forms.modalDenegar = true;
      console.log(this.solicitud)
    },
    denegarSolicitud: function () {
        var cadena = '/solicitud/denegar'
        api.post(cadena, this.solicitud)
        .then(response => {
          this.idSolicitud = response.data;
          console.log(this.idSolicitud);
          this.listarSolicitudes();
          this.cerrarDenegar();

          this.solicitud.id=null;
          this.solicitud.id_admin=null;
          this.solicitud.id_nuevo=null;
          this.solicitud.texto=null;

          this.forms.modalDenegar = false;
          this.forms.modalDenegarCorrecto = true;
        }
        )
        .catch(e => {
          this.errors.push(e)
        })
    },
  },
  mounted(){
    this.listarSolicitudes();
    this.listarEspecialistas();
    console.log(this.complex.solicitudes)
  }
}
</script>

<style lang="scss">
  .td {
    width: 220px;
  }

</style>