<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <!-- TABLA -->
        <v-flex lg12>
          <h3>Solicitudes Reclamos</h3>
        </v-flex>

        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.solicitudes"
                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                class="elevation-1"
                item-key="id_solicitud"
              >
                <template v-slot:no-data>
                  <v-alert :value="true" color="blue lighten-1" icon="info">
                    No hay datos disponibles
                  </v-alert>
                </template>
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.id_solicitud }}</td>
                  <td>{{ props.item.reclamo.id_reclamo }}</td>
                  <td>{{ props.item.reclamo.motivo.desc }}</td>
                  <td>{{ props.item.motivo }}</td>
                  <td>
                    <span v-if= "props.item.estado == 0" >Registrada</span>
                    <span v-if= "props.item.estado == 1" >Aceptada</span>
                    <span v-if= "props.item.estado == 2" >Denegada</span>
                    <span v-if= "props.item.estado == 3" >Cancelada</span>
                  </td>
                  <td>
                    <v-btn icon @click="verDetalles(props.item.id_solicitud)"  fab dark color="blue" small>
                      <v-icon>info</v-icon>
                    </v-btn>
                    <span v-if= "props.item.estado == 0">
                        <v-btn @click.native="verCancelar(props.item.id_solicitud)" icon fab dark color="red" small>
                        <v-icon>delete</v-icon>
                        </v-btn>
                    </span>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>



        <!--FORM DETALLE -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formDetalle" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Solicitud de reasignación N° {{detalles.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Motivo:</b> {{detalles.motivo.desc}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Ciudadano:</b> {{detalles.ciudadano}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Motivo solicitud:</b></v-label>
                              <v-textarea
                                v-model="detalles.respuesta"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <span v-if= "detalles.estado == 1">
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Comentario:</b></v-label>
                              <v-textarea
                                v-model="detalles.comentario"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex>
                          </v-layout>
                          </span>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="cerrarDetalle()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  


        <!-- MODAL CANCELAR -->
        
        <v-dialog v-model='forms.modalCancelar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Cancelar Solicitud</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea cancelar la solicitud de reasignación del reclamo?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="cancelarSolicitud()" >Sí</v-btn>
                <v-btn @click.native="forms.modalCancelar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL CANCELAR CORRECTO-->
        
        <v-dialog v-model='forms.modalCancelarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Solicitud cancelada</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se cancelo la solicitud correctamente.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalCancelarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>



      </v-layout>
    </v-container>
  </div>
</template>

<script>

import axios from 'axios';

import Vue from 'vue';
import api from "../../conection";

export default {
  data() {
    return {
      search: '',
      complex: {
        selected: [],
        headers: [
          {
            text: "N°",
            value: "n"
          },
          {
            text: "N° Reclamo",
            value: "reclamo.id_reclamo"
          },
          {
            text: "Motivo Reclamo",
            value: "reclamo.motivo.id_motivo"
          },
          {
            text: "Motivo Solicitud",
            value: "motivo"
          },
          {
            text: "Estado",
            value: "estado"
          },
          {
            text: "Acciones",
            value: ""
          }
        ],
        solicitudes: [],
        errors: []
      },
      forms:{
        formDetalle: false,
        modalCancelar: false,
        modalCancelarCorrecto: false,
      },
      detalles:{
        id: null,
        motivo: {
          id_motivo: null,
          desc: null
        },
        ciudadano: null,
        texto: null,
        respuesta: null,
        comentario: null,
      },
      idSolicitud: null,
    }
  },

  methods:{
    listarSolicitudes(){
      var cadena = '/solicitud/especialista/' + this.$store.state.token.id_usuario;
      api.get(cadena)
          .then(response => {
            this.complex.solicitudes = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    verDetalles: function (id_solicitud) {
        var solicitud = this.complex.solicitudes.find(x=>x.id_solicitud==id_solicitud)
        this.detalles.id = id_solicitud;
        this.detalles.motivo = solicitud.reclamo.motivo;
        this.detalles.ciudadano = solicitud.reclamo.ciudadano.nombre+" "+reclamo.ciudadano.apellido_pat+" "+reclamo.ciudadano.apellido_mat;
        this.detalles.texto = solicitud.reclamo.texto;
        this.detalles.respuesta = solicitud.motivo;
        this.detalles.comentario = solicitud.comentario;
        console.log(this.detalles);

        this.forms.formDetalle = true;
    },
    cerrarDetalle: function () {
        this.detalles.id = null;
        this.detalles.motivo = null;
        this.detalles.ciudadano = null;
        this.detalles.texto = null;
        this.detalles.respuesta = null;
        this.detalles.comentario = null;

        this.forms.formDetalle = false;
    },
    //METODOS DEL MODAL CANCELAR
    verCancelar: function (id_solicitud) {
      this.idSolicitud = id_solicitud;
      this.forms.modalCancelar = true;
    },
    cancelarSolicitud: function () {
      var cadena = '/solicitud/cancelar/'+ this.idSolicitud;
      api.post(cadena)
      .then(response => {
        this.idSolicitud = response.data;
        this.forms.modalCancelar = false;
        this.forms.modalCancelarCorrecto = true;
        this.listarSolicitudes();
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },
  },
  mounted(){
    this.listarSolicitudes();
    console.log(this.complex.solicitudes)
  }
}
</script>

<style lang="scss">
</style>