<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <h3>Visualizar Reclamos</h3>
        </v-flex>

        <!-- TABLA -->
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.reclamos"
                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                class="elevation-1"
                item-key="id_reclamo"
              >
                <template v-slot:no-data>
                  <v-alert :value="true" color="blue lighten-1" icon="info">
                    No hay datos disponibles
                  </v-alert>
                </template>
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.id_reclamo }}</td>
                  <td>{{ props.item.num_suministro }}</td>
                  <td>{{ props.item.especialista.nombre }} {{ props.item.especialista.apellido_pat }} {{ props.item.especialista.apellido_mat }}</td>
                  <td>
                    <span v-if= "props.item.estado == 0" >Registrado</span>
                    <span v-if= "props.item.estado == 1" >Atendido</span>
                    <span v-if= "props.item.estado == 2" >Cancelado</span>
                  </td>
                  <td>{{ props.item.fecha_registro_str }}</td>
                  <td>{{ props.item.fecha_respuesta_str }}</td>
                  <td>
                    <v-btn icon @click="verDetalles(props.item.id_reclamo)" fab dark color="blue" small>
                      <v-icon>info</v-icon>
                    </v-btn>
                    <span v-if= "props.item.estado == 1">
                        <v-btn   icon @click="verComentario(props.item.id_reclamo)" fab dark color="grey" small>
                        <v-icon>comment</v-icon>
                        </v-btn>
                        <v-btn icon @click="verCalificacion(props.item.id_reclamo)" fab dark color="orange" small>
                        <v-icon>grade</v-icon>
                        </v-btn>
                    </span>
                    <span v-if= "props.item.estado == 0">
                        <v-btn   icon @click="verCancelar(props.item.id_reclamo)" fab dark color="red" small>
                        <v-icon>delete</v-icon>
                        </v-btn>
                    </span>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>


        <!--FORM CALIFICAR -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formCalificar" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Reclamo N° {{detalles.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img :src="detalles.foto"/>
                              </v-avatar>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Número de suministro:</b> {{detalles.num_suministro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Especialista:</b> {{detalles.especialista}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label>Calificación 1</v-label>
                              <star-rating v-model="calificaciones.calificacion1"></star-rating>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label>Calificación 2</v-label>
                              <star-rating v-model="calificaciones.calificacion2"></star-rating>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label>Calificación 3</v-label>
                              <star-rating v-model="calificaciones.calificacion3"></star-rating>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="forms.modalCalificarConfirmar = true;">Calificar</v-btn>
                    <v-btn @click.native="cerrarCalificacion()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex> 


        <!-- MODAL CALIFICAR -->
        
        <v-dialog v-model='forms.modalCalificarConfirmar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Enviar Calificaciones</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea enviar las calificacones?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="registrarCalificacion()" >Sí</v-btn>
                <v-btn @click.native="forms.modalCalificarConfirmar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL CALIFICAR CONFIRMADO -->
        
        <v-dialog v-model='forms.modalCalificarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Calificaciones enviada</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se envió las calificaciones correctamente.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalCalificarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>









        <!--FORM COMENTAR -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formComentar" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Reclamo N° {{detalles.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img :src="detalles.foto"/>
                              </v-avatar>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Número de suministro:</b> {{detalles.num_suministro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Especialista:</b> {{detalles.especialista}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Correo:</b> {{detalles.correo}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Teléfono:</b> {{detalles.telefono}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Fecha Registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.fecha_atencion != null">
                                <v-label><b>Fecha Atención:</b> {{detalles.fecha_atencion}}</v-label> 
                              </span>
                              <span v-if= "detalles.fecha_atencion == null">
                                <v-label><b>Fecha Atención:</b> ----------</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.estado == 0">
                                <v-label><b>Estado:</b> Registrado</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 1">
                                <v-label><b>Estado:</b> Atendido</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 2">
                                <v-label><b>Estado:</b> Cancelado</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Respuesta:</b></v-label>
                              <v-textarea
                                v-model="detalles.respuesta"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Comentario:</b></v-label>
                              <v-textarea
                                v-model="comentario.texto"
                                auto-grow
                                filled
                                rows="1"
                                
                              ></v-textarea>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click.native="forms.modalComentarConfirmar = true;">Comentar</v-btn>
                    <v-btn @click.native="cerrarComentario()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex> 


        <!-- MODAL COMENTAR -->
        
        <v-dialog v-model='forms.modalComentarConfirmar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Enviar Comentario</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea enviar el comentario?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="registrarComentario()" >Sí</v-btn>
                <v-btn @click.native="forms.modalComentarConfirmar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL COMENTAR CONFIRMADO -->
        
        <v-dialog v-model='forms.modalComentarCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Comentario enviado</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se envió el comentario correctamente.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalComentarCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>



        <!--FORM DETALLE -->
        <v-flex sm12>                 
          <v-layout row wrap>
              <v-flex lg11></v-flex>
              <v-dialog v-model="forms.formDetalle" persistent max-width="700px"> 
                 <v-card>
                    <v-card-title>
                      <span class="headline">Reclamo N° {{detalles.id}}</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-form class="centro">
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-avatar size="320">
                                <img :src="detalles.foto"/>
                              </v-avatar>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Número de suministro:</b> {{detalles.num_suministro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>
                            <v-flex xs12 >
                              <v-label><b>Especialista:</b> {{detalles.especialista}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Correo:</b> {{detalles.correo}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Teléfono:</b> {{detalles.telefono}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <v-label><b>Fecha Registro:</b> {{detalles.fecha_registro}}</v-label>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.fecha_atencion != null">
                                <v-label><b>Fecha Atención:</b> {{detalles.fecha_atencion}}</v-label> 
                              </span>
                              <span v-if= "detalles.fecha_atencion == null">
                                <v-label><b>Fecha Atención:</b> ----------</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex xs12 >
                              <span v-if= "detalles.estado == 0">
                                <v-label><b>Estado:</b> Registrado</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 1">
                                <v-label><b>Estado:</b> Atendido</v-label> 
                              </span>
                              <span v-if= "detalles.estado == 2">
                                <v-label><b>Estado:</b> Cancelado</v-label> 
                              </span>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Texto:</b></v-label>
                              <v-textarea
                                v-model="detalles.texto"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label><b>Respuesta:</b></v-label>
                              <v-textarea
                                v-model="detalles.respuesta"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex> 
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Comentario:</b></v-label>
                              <v-textarea
                                v-model="detalles.comentario"
                                auto-grow
                                filled
                                rows="1"
                                disabled
                              ></v-textarea>
                            </v-flex>
                          </v-layout>
                          <v-layout row wrap>  
                            <v-flex class="izquierda" xs12 >
                              <v-label class="izquierda"><b>Evidencias:</b></v-label>
                              <ul class="ul" id="example-1">
                                <li class="li" v-bind:key="evidencia.nombre" v-for="evidencia in detalles.evidencias">
                                  <a :href="evidencia.ubicacion" download>{{evidencia.nombre}}</a>
                                </li>
                              </ul>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-container>
                      
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="cerrarDetalle()">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>     
          </v-layout>
        </v-flex>  




        <!-- MODAL CANCELAR -->
        
        <v-dialog v-model='forms.modalCancelar' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Cancelar Reclamo</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">¿Está seguro que desea cancelar el reclamo?</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="cancelarReclamo()" >Sí</v-btn>
                <v-btn @click.native="forms.modalCancelar = false">No</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


        <!-- MODAL CANCELAR CONFIRMADO -->
        
        <v-dialog v-model='forms.modalCanceladoCorrecto' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Reclamo Cancelado</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se canceló el reclamo número {{this.idReclamo}}.</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="forms.modalCanceladoCorrecto = false">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>


      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios';
import StarRating from 'vue-star-rating'

import api from "../../conection";
export default {
  components: {
    StarRating
  },
  data() {
    return {
      search: '',
      complex: {
        selected: [],
        headers: [
          {
            text: "N°",
            value: "id_reclamo"
          },
          {
            text: "N° suministro",
            value: "num_suministro"
          },
          {
            text: "Especialista",
            value: "especialista"
          },
          {
            text: "Estado",
            value: "estado"
          },
          {
            text: "Fecha registro",
            value: "fecha_registro"
          },
          {
            text: "Fecha atención",
            value: "fecha_atencion"
          },
          {
            text: "Acciones",
            value: ""
          }
        ],
        reclamos: [],
        errors: []
      },
      forms:{
        formDetalle: false,
        formComentar: false,
        modalComentarConfirmar: false,
        modalComentarCorrecto: false,
        modalCancelar: false,
        modalCanceladoCorrecto: false,
        modalCalificarConfirmar: false,
        modalCalificarCorrecto: false
      },
      detalles:{
        id: null,
        especialista: null,
        foto: null,
        correo: null,
        telefono: null,
        fecha_registro: null,
        fecha_atencion: null,
        estado: null,
        texto: null,
        respuesta: null,
        comentario: null,
        evidencias: []
      },
      comentario: {
        id: null,
        texto: null
      },
      idReclamo: null,
      calificaciones:{
        id: null,
        calificacion1: null,
        calificacion2: null,
        calificacion3: null,
      }
    }
  },

  

  methods: {
    listarReclamos(){
      var cadena = '/reclamo/' + this.$store.state.token.id_usuario;
      api.get(cadena)
          .then(response => {
            this.complex.reclamos = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    listarEvidencias(id_reclamo){
      var cadena = '/evidencia/reclamo/' + id_reclamo;
      api.get(cadena)
          .then(response => {
            this.detalles.evidencias = response.data
            for( var i = 0; i < this.detalles.evidencias.length; i++ ){
              var ubicacion = "/static/evidencias/" + this.detalles.evidencias[i].ubicacion;
              console.log(ubicacion)
              this.detalles.evidencias[i].ubicacion = ubicacion;
            }
            console.log(this.detalles.evidencias)
          })
          .catch(e => {
            this.errors.push(e)
          })
    },
    verDetalles: function (id_reclamo) {
        var reclamo = this.complex.reclamos.find(x=>x.id_reclamo==id_reclamo)
        this.detalles.id = id_reclamo;
        this.detalles.especialista = reclamo.especialista.nombre+" "+reclamo.especialista.apellido_pat+" "+reclamo.especialista.apellido_mat;
        this.detalles.foto = "/static/usuarios/"+reclamo.especialista.foto;
        this.detalles.correo = reclamo.especialista.correo;
        this.detalles.telefono = reclamo.especialista.telefono;
        this.detalles.fecha_registro = reclamo.fecha_registro_str;
        this.detalles.fecha_atencion = reclamo.fecha_respuesta_str;
        this.detalles.estado = reclamo.estado;
        this.detalles.texto = reclamo.texto;
        this.detalles.respuesta = reclamo.respuesta;
        this.detalles.comentario = reclamo.comentario;
        this.listarEvidencias(id_reclamo);
        console.log(this.detalles);

        this.forms.formDetalle = true;
    },
    cerrarDetalle: function () {
        this.detalles.id = null;
        this.detalles.especialista = null;
        this.detalles.foto = null;
        this.detalles.correo = null;
        this.detalles.telefono = null;
        this.detalles.fecha_registro = null;
        this.detalles.fecha_atencion = null;
        this.detalles.texto = null;
        this.detalles.respuesta = null;
        this.detalles.comentario = null;
        this.detalles.evidencias = [];

        this.forms.formDetalle = false;
    },
    verComentario: function (id_reclamo) {
        var reclamo = this.complex.reclamos.find(x=>x.id_reclamo==id_reclamo);
        this.detalles.id = id_reclamo;
        this.detalles.especialista = reclamo.especialista.nombre+" "+reclamo.especialista.apellido_pat+" "+reclamo.especialista.apellido_mat;
        this.detalles.foto = "/static/usuarios/"+reclamo.especialista.foto;
        this.detalles.correo = reclamo.especialista.correo;
        this.detalles.telefono = reclamo.especialista.telefono;
        this.detalles.fecha_registro = reclamo.fecha_registro_str;
        this.detalles.fecha_atencion = reclamo.fecha_respuesta_str;
        this.detalles.estado = reclamo.estado;
        this.detalles.texto = reclamo.texto;
        this.detalles.respuesta = reclamo.respuesta;
        this.detalles.comentario = reclamo.comentario;
        this.comentario.texto = reclamo.comentario;
        this.comentario.id = id_reclamo;

        this.forms.formComentar = true;
    },
    cerrarComentario: function () {
        this.detalles.id = null;
        this.detalles.especialista = null;
        this.detalles.foto = null;
        this.detalles.correo = null;
        this.detalles.telefono = null;
        this.detalles.fecha_registro = null;
        this.detalles.fecha_atencion = null;
        this.detalles.texto = null;
        this.detalles.respuesta = null;
        this.detalles.comentario = null;
        this.comentario.texto = null;
        this.comentario.id = null;

        this.forms.formComentar = false;
    },
    registrarComentario: function () {
        var cadena = '/reclamo/comentar'
        api.post(cadena, this.comentario)
        .then(response => {
          this.idReclamo = response.data;
          console.log(this.idReclamo);
          this.listarReclamos();
          this.cerrarComentario();
          this.forms.modalComentarConfirmar = false;
          this.forms.modalComentarCorrecto = true;
        }
        )
        .catch(e => {
          this.errors.push(e)
        })
    },

    //Cancelar reclamo
    cancelarReclamo: function () {
      var cadena = '/reclamo/cancelar/'+ this.idReclamo;
      api.post(cadena)
      .then(response => {
        this.idReclamo = response.data;
        this.forms.modalCancelar = false;
        this.forms.modalCanceladoCorrecto = true;
        this.listarReclamos();
      }
      )
      .catch(e => {
        this.error.push(e)
      })

    },
    verCancelar: function (id_reclamo) {
      this.idReclamo = id_reclamo;
      this.forms.modalCancelar = true;
    },



    
    verCalificacion: function (id_reclamo) {
        var reclamo = this.complex.reclamos.find(x=>x.id_reclamo==id_reclamo);
        this.detalles.id = id_reclamo;
        this.detalles.especialista = reclamo.especialista.nombre+" "+reclamo.especialista.apellido_pat+" "+reclamo.especialista.apellido_mat;
        this.detalles.foto = "/static/usuarios/"+reclamo.especialista.foto;
        this.detalles.correo = reclamo.especialista.correo;
        this.detalles.num_suministro = reclamo.num_suministro;
        this.detalles.telefono = reclamo.especialista.telefono;
        this.detalles.fecha_registro = reclamo.fecha_registro_str;
        this.detalles.fecha_atencion = reclamo.fecha_respuesta_str;
        this.detalles.estado = reclamo.estado;
        this.detalles.texto = reclamo.texto;
        this.detalles.respuesta = reclamo.respuesta;
        this.detalles.comentario = reclamo.comentario;
        this.calificaciones.id = id_reclamo;
        this.calificaciones.calificacion1 = reclamo.calificacion_1;
        this.calificaciones.calificacion2 = reclamo.calificacion_2;
        this.calificaciones.calificacion3 = reclamo.calificacion_3;


        this.forms.formCalificar = true;
    },

    cerrarCalificacion: function () {
        this.detalles.id = null;
        this.detalles.especialista = null;
        this.detalles.foto = null;
        this.detalles.correo = null;
        this.detalles.telefono = null;
        this.detalles.fecha_registro = null;
        this.detalles.fecha_atencion = null;
        this.detalles.texto = null;
        this.detalles.respuesta = null;
        this.detalles.comentario = null;
        this.calificaciones.id = null;
        this.calificaciones.calificacion1 = null;
        this.calificaciones.calificacion2 = null;
        this.calificaciones.calificacion3 = null;

        this.forms.formCalificar = false;
    },

    registrarCalificacion: function () {
      var cadena = '/reclamo/calificar';
      console.log(this.calificaciones);
        api.post(cadena, this.calificaciones)
        .then(response => {
          this.idReclamo = response.data;
          console.log(this.idReclamo);
          this.listarReclamos();
          this.cerrarCalificacion();
          this.forms.modalCalificarConfirmar = false;
          this.forms.modalCalificarCorrecto = true;
        }
        )
        .catch(e => {
          this.errors.push(e)
        })
      
    }

    


  },
  mounted(){
    this.listarReclamos();
    console.log(this.complex.reclamos);
    console.log(this.complex.errors);
  }
}
</script>

<style lang="scss">
  .centro {
    text-align: center
  }
  .izquierda {
    text-align: left
  }

  .ul{
    list-style-image: url("../../../public/static/icon/document2.png");
  }
  
  .li{
    margin-left:25px;
  }

</style>
