<template>
  <div id="page-forms">
    <v-container row wrap>
      <v-layout>
        <v-flex lg12>
          <h2 align='center'>
            Resumen del mes
          </h2>

            <v-stepper v-model="e1">
            <v-stepper-header>
                <v-stepper-step step="1">Reclamos por motivo</v-stepper-step>
        
                <v-divider></v-divider>
        
                <v-stepper-step step="2">Atenciones por dia</v-stepper-step>
        
                <v-divider></v-divider>
        
                <v-stepper-step step="3">Tiempo de respuesta por reclamos</v-stepper-step>
            </v-stepper-header>
        
            <v-stepper-items>
                
                <v-stepper-content step="1">
                <v-card>
                    <h3>Reclamos por motivo</h3>
                    <v-flex lg8 offset-lg2>
                        <canvas id="chart-step-1"></canvas>
                    </v-flex>

                    <v-flex class="tabla_1" lg6  offset-lg3>
                        <!--TABLA -->
                        <v-card>
                            
                            <v-card-text class="pa-0">
                            <v-data-table
                                :headers="complex1.headers"
                                :search="search1"
                                :items="complex1.grafico"
                                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                                class="elevation-1"
                                item-key="id"
                            >
                                <template v-slot:no-data>
                                <v-alert :value="true" color="blue lighten-1" icon="info">
                                    No hay datos disponibles
                                </v-alert>
                                </template>
                                <template slot="items" slot-scope="props">
                                <td>{{ props.item.id }}</td>
                                <td>{{ props.item.label }}</td>
                                <td>{{ props.item.cant }}</td>
                                <td>{{ props.item.porc }}%</td>
                                </template>
                            </v-data-table>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-card>
            
                <v-flex class="derecha" lg12>
                    <v-btn color="primary" @click="e1 = 2">Siguiente</v-btn>
                </v-flex>
                </v-stepper-content>
                
                <v-stepper-content step="2">
                <v-card>
                    <h3>Atenciones por dia</h3>
                    
                    <v-flex  lg8 offset-lg2>
                        <canvas id="chart-step-2"></canvas>
                    </v-flex>

                    <v-flex class="tabla_1" lg6  offset-lg3>
                        <!--TABLA -->
                        <v-card>
                            
                            <v-card-text class="pa-0">
                            <v-data-table
                                :headers="complex2.headers"
                                :search="search2"
                                :items="complex2.grafico"
                                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                                class="elevation-1"
                                item-key="id"
                            >
                                <template v-slot:no-data>
                                <v-alert :value="true" color="blue lighten-1" icon="info">
                                    No hay datos disponibles
                                </v-alert>
                                </template>
                                <template slot="items" slot-scope="props">
                                <td>{{ props.item.id }}</td>
                                <td>{{ props.item.label }}</td>
                                <td>{{ props.item.cant }}</td>
                                <td>{{ props.item.porc }}%</td>
                                </template>
                            </v-data-table>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-card>
        
                <v-flex class="derecha" lg12>
                    <v-btn color="primary" @click="e1 = 3">Siguiente</v-btn>
                    <v-btn @click="e1 = 1" >  Volver </v-btn>
                </v-flex>
                
                </v-stepper-content>
        
                <v-stepper-content step="3">
                <v-card>
                    <h3>Tiempo de respuesta por reclamos</h3>
                    
                    <v-flex  lg8 offset-lg2>
                        <canvas id="chart-step-3"></canvas>
                    </v-flex>

                    <v-flex class="tabla_1" lg6  offset-lg3>
                        <!--TABLA -->
                        <v-card>
                            
                            <v-card-text class="pa-0">
                            <v-data-table
                                :headers="complex3.headers"
                                :search="search3"
                                :items="complex3.grafico"
                                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                                class="elevation-1"
                                item-key="id"
                            >
                                <template v-slot:no-data>
                                <v-alert :value="true" color="blue lighten-1" icon="info">
                                    No hay datos disponibles
                                </v-alert>
                                </template>
                                <template slot="items" slot-scope="props">
                                <td>{{ props.item.id }}</td>
                                <td>{{ props.item.label }}</td>
                                <td>{{ props.item.cant }}</td>
                                <td>{{ props.item.porc }}%</td>
                                </template>
                            </v-data-table>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-card>
                
                <v-flex class="derecha" lg12>
                    <v-btn @click="e1 = 2" >  Volver </v-btn>
                </v-flex>

                </v-stepper-content>
            </v-stepper-items>
            </v-stepper>


        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>

import axios from 'axios';

import Vue from 'vue';
import api from "../../conection";



export default {
  data: () => ({
    //step
    e1:1,
    labels1: [], //grafico donut
    labels2: [], //grafico de linea
    labels3: [], //grafico de barras

    data1: [],
    data2: [],
    data3: [],
    
    search1: '',
    search2: '',
    search3: '',
    complex1: {
        selected: [],
        headers: [
            {
                text: "ID",
                value: "id"
            },
            {
                text: "Motivo",
                value: "label"
            },
            {
                text: "Cantidad de reclamos",
                value: "cant"
            },
            {
                text: "Porcentaje",
                value: "porc"
            },
        ],
        grafico: [],
    },
    complex2: {
        selected: [],
        headers: [
            {
                text: "ID",
                value: "id"
            },
            {
                text: "Dia",
                value: "label"
            },
            {
                text: "Cantidad de reclamos",
                value: "cant"
            },
            {
                text: "Porcentaje",
                value: "porc"
            },
        ],
        grafico: [],
    },
    complex3: {
        selected: [],
        headers: [
            {
                text: "ID",
                value: "id"
            },
            {
                text: "Tiempo",
                value: "label"
            },
            {
                text: "Cantidad de reclamos",
                value: "cant"
            },
            {
                text: "Porcentaje",
                value: "porc"
            },
        ],
        grafico: [],
    },
  }),

  methods:{
    reporteMotivo(){
      var cadena = '/reporte/motivo';
      api.get(cadena)
          .then(response => {
            this.complex1.grafico = response.data;
            for( var i = 0; i < this.complex1.grafico.length; i++ ){
                this.labels1.push(this.complex1.grafico[i].label);
                this.data1.push(this.complex1.grafico[i].cant);
            }
            //console.log(this.labels1)
            //console.log(this.data1)
            this.generarGrafico1()
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    
    reporteDia(){
      var cadena = '/reporte/dia';
      api.get(cadena)
          .then(response => {
            this.complex2.grafico = response.data;
            for( var i = 0; i < this.complex2.grafico.length; i++ ){
                this.labels2.push(this.complex2.grafico[i].label);
                this.data2.push(this.complex2.grafico[i].cant);
            }
            //console.log(this.labels1)
            //console.log(this.data1)
            this.generarGrafico2()
          })
          .catch(e => {
            this.error.push(e)
          })
    },

    
    reporteTiempo(){
      var cadena = '/reporte/tiempo';
      api.get(cadena)
          .then(response => {
            this.complex3.grafico = response.data;
            for( var i = 0; i < this.complex3.grafico.length; i++ ){
                this.labels3.push(this.complex3.grafico[i].label);
                this.data3.push(this.complex3.grafico[i].cant);
            }
            //console.log(this.labels1)
            //console.log(this.data1)
            this.generarGrafico3()
          })
          .catch(e => {
            this.error.push(e)
          })
    },








    generarGrafico1(){
        var ctx = document.getElementById('chart-step-1').getContext('2d');
        this.chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: this.labels1,
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: ["#D50000", "#3F51B5", "#8BC34A", "#FF9800", "#795548", "#607D8B", "#FFEB3B", "#4CAF50", "#03A9F4", "#9C27B0"],
                    borderColor: 'rgb(255, 255, 255)',
                    data: this.data1
                }]
            },
            options: {
                cutoutPercentage: 35,
            }
        })
    },
    generarGrafico2(){
        var ctx = document.getElementById('chart-step-2').getContext('2d');
        this.chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: this.labels2,
                datasets: [{
                    fill:false,
                    label: 'Atenciones',
                    backgroundColor: ["#D50000", "#3F51B5", "#8BC34A", "#FF9800", "#795548", "#607D8B", "#FFEB3B", "#4CAF50", "#03A9F4", "#9C27B0"],
                    borderColor: 'rgb(0, 0, 0)',
                    data: this.data2
                }]
            },
            options: {
            }
        })
    },
    generarGrafico3(){
        var ctx = document.getElementById('chart-step-3').getContext('2d');
        this.chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: this.labels3,
                datasets: [{
                    label: 'Tiempo de respuesta',
                    backgroundColor: ["#D50000", "#3F51B5", "#8BC34A", "#FF9800", "#795548", "#607D8B", "#FFEB3B", "#4CAF50", "#03A9F4", "#9C27B0"],
                    borderColor: 'rgb(255, 255, 255)',
                    data: this.data3
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
  },
  mounted(){
      this.reporteMotivo();
      this.reporteDia();
      this.reporteTiempo();
  }
}
</script>

<style lang="scss">
  .derecha {
    text-align: right;
  }
  .tabla_1 {
    margin-top: 20px;
  }
</style>