<template>
  <v-app id="login" class="primary">
    <v-content>

      <v-container fluid fill-height>

        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="/static/icon/osinergmin.png" alt="Vue Material Admin" width="120" height="120">
                  <h1 class="flex my-4 primary--text">osinergmin</h1>
                </div>                
                <v-form>
                  <v-text-field append-icon="person" name="login" label="Correo" type="text" v-model="usuario.correo" placeholder="Correo"></v-text-field>
                  <v-text-field @keyup.enter.native="login()" append-icon="lock" name="password" label="Contraseña" id="password" type="password" v-model="usuario.password" placeholder="Contraseña"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <!--a class="forgot" href="#/ForgotPassword" rel="noopener">¿Olvidó su contraseña?</a-->
                <v-flex>
                <a class="forgot" @click="olvidarPass()">¿Olvidó su contraseña?</a>
                </v-flex>
              </v-card-actions>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-flex>
                <v-btn class="btn-login" color="primary" @click="login()" :loading="loading">Iniciar Sesión</v-btn>
                <v-divider></v-divider>
                <v-btn class="register" @click="register()">Registrarse</v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import VWidget from '@/components/VWidget';
import axios from 'axios';

import api from "../../conection";

export default {
  data: () => ({
    loading: false,
    usuario: {
      correo: '',
      password: '',
    },
    errors: [],
  }),



  methods: {
    login () {
      this.loading = true;

      var cadena = '/usuario/login'
      api.post(cadena, this.usuario)
      .then(response => {
        this.$store.dispatch("login",response.data);
        console.log(response.data)
          if(response.data.id_usuario > 0){
            console.log(this.$store.state);
            if(response.data.rol.id_rol==4){
              this.$router.push('/home/admin');
            }else if(response.data.rol.id_rol==2){
              this.$router.push('/gestion/usuarios');
            }else{
              this.$router.push('/home');
            }
            //window.getApp.$emit('APP_LOGIN');        
          } 
          else{
            this.loading = false;
            this.usuario.password = '';
            //window.getApp.$emit('APP_FAIL_LOGIN');           
          }          
      }
      )
      .catch(e => {
        this.errors.push(e)
      })


          
    },
    register () {
      this.$router.push('/register'); 

    },
    olvidarPass () {
      this.$router.push('/forgot'); 

    }
  }

};
</script>
<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
  .register{
    margin-top: 10px;
  }
  .btn-login{
    margin-bottom: 10px;
  }
</style>
