<template>
  <v-app id="login" class="primary">
    <v-content>

      <v-container fluid fill-height>

        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <h3 class="flex my-4 primary--text">Olvidó su contraseña</h3>
                </div>                
                <v-form>
                  <h5>Se le enviará un correo con una contraseña temporal</h5>
                  <v-text-field append-icon="person" name="login" label="Correo" type="text" v-model="usuario.correo" placeholder="Correo"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-flex>
                <v-btn color="primary" @click="enviar()">Enviar Correo</v-btn>
                </v-flex>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>


        <!-- MODAL MENSAJE -->
        
        <v-dialog v-model='forms.modalMensaje' persistent max-width="450px" >
            <v-card>
              <v-card-title>
                <span class="headline">Correo enviado</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 >
                      <h5 align="center">Se le envío la contraseña temporal generada automáticamente al correo indicado</h5>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click.native="ok()">Cerrar</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>

      </v-container>
    </v-content>
  </v-app>
</template>


<script>
import VWidget from '@/components/VWidget';
import axios from 'axios';

import api from "../../conection";

export default {
  data: () => ({
    usuario: {
      correo: '',
    },
    errors: [],
    forms:{
        modalMensaje: false
    }
  }),



  methods: {
    enviar () {

      var cadena = '/usuario/olvidarpass'
      api.post(cadena, this.usuario)
      .then(response => {
          this.forms.modalMensaje = true;
      }
      )
      .catch(e => {
        this.errors.push(e)
      })
    },
    ok () {
        this.$router.push('/login');
    },
  }

};
</script>
<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
  .register{
    margin-top: 10px;
  }
  .btn-login{
    margin-bottom: 10px;
  }
</style>